@use "variables" as v;

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans-Regular.ttf);
}

/*  Job formatting.
    Contents:
        || Status indicator (todo, price confirmation)
        || Layout

        // todo

        || Responsive table
*/

.add-button{
    margin: 0.3rem 0 0.3rem 0.3rem;
}

// || Status indicator (todo, price confirmation)
.status-indicator{
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: v.$c_tone_04;
    font-weight: bold;

    :first-child,
    :last-child{
        border: 1px solid v.$c_tone_03;
    }
    :first-child{
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
    }
    :last-child{
        border-top-right-radius: 0.95rem;
        border-bottom-right-radius: 0.95rem;  
    }

    .status-name{
        display: block;
        padding: 0.1rem 0.5rem 0.1rem 1rem;
        width: fit-content;
        color: white;
    }

    button{
        display: block;
        padding: 0.1rem 1rem 0.1rem 0.7rem;
        
        color: v.$c_tone_06;
        border: 1px solid v.$c_tone_03;
        border-left: 3px solid v.$c_tone_05;

        &.todo-list-toggle{
            background: v.$c_tone_01;
            &:hover{
                background: v.$c_tone_03;
            }
        }

        &#price_confirmation_button{
            background: transparent;

            &:hover{
                background: v.$c_tone_03;
            }
        }

    }

    &.on{
        button,
        button#price_confirmation_button{
            color: v.$c_accent_secondary;
            border: 1px solid v.$c_accent_secondary_03;
            border-left: 3px solid v.$c_accent_secondary;

            min-width: 49px;    // <- this prevents "font-weight: bold" on hover from making the element "twitch" on to-do
            &:hover{
                background: v.$g_button_secondary;
                color: black;
                font-weight: bold;
            }
        }
    }
}



// || Layout
.job-page-sections-wrapper,
.document-sections-wrapper{
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    width: 100%;

    h3{
        margin-bottom: 0;
    }

    .po-row{
        display: flex;
        justify-content: space-between;

        box-sizing: border-box;
        width: 100%;

        border: 1px solid v.$c_tone_03;
        padding: 0.3rem;
        margin-top: 0.5rem;
        border-radius: 5px;

        .panel{
            display: block;
        }

        .edit-icon:hover{
            background-position: 5px 4px;
        }
    }
}
.job-page-sections-wrapper{
    margin-top: 2rem;
}

#job_items_section{
    width: 100%;
}

.document-sections-wrapper{
    align-items: flex-start;

    .subsection{
        flex-grow: 2;
    }
}


.pair-related{
    display: flex;
    flex-flow: row wrap;
    gap: 2.5rem;
    min-width: 40%;
    max-width: 100%;

    flex-grow: 2;

    .paired-section{
        flex-grow: 1;
        min-width: 295px;
        max-width: 716px;
    }
}
@media screen and (min-width: 1690px){
    .pair-related .paired-section{
        max-width: 616px;
    }
}

#toggle_po_form_btn{
    margin-top: 0.4rem;
}

#job_details{
    max-width: v.$MAX_WIDTH;
}



.ji-edit{
    margin-right: 0;

    &:hover{
        background-position: 5px 4px;
    }
}

.job-doc-section{
    min-width: 280px;

    .status-ele{
        margin-left: calc(0.2rem + 3px);    // Line up with <li>s. <ul> left padding = 0.2rem; <ul> left margin = 3px; 
        width: max-content;
        margin-top: 0.5rem;
    }

    .subsection{
        padding-bottom: 0.7rem;
    }

    ul{
        list-style-type: none;
        margin: 1rem 3px 0;
        padding: 0 0 0 0.2rem;
    }

    li{
        margin-top: 0.3rem;
        box-sizing: border-box;

        a{
            display: flex;
            justify-content: left;

            margin: 0;
            padding: 0 0.9rem 0 0;
            text-decoration: none;

            border-radius: 1rem;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            border: 1px solid v.$c_tone_04;
            
            background: transparent;

            &:hover{
                background: v.$c_tone_02;
            }
        }

        .doc-details{
            flex-grow: 2;

            display: flex;
            flex-flow: wrap;
            justify-content: space-between;

            max-width: calc(100% - 2rem); // "icon" has width: 1rem; +1rem to roughly cover borders/padding etc.
        }

        .icon{
            display: block;

            min-width: 1rem;
            width: 1rem;
            max-width: 1rem;
            
            padding: 0.35rem 0.3rem;

            font-family: Noto Sans, sans-serif;
            font-size: 0.9rem;
            text-align: center;

            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            border-right: 3px solid v.$c_tone_03;
        }

        &.issued a{
            border-color: v.$c_accent_secondary_02;
            color: v.$c_accent_secondary;

            .icon{
                border-color: v.$c_accent_secondary_03;
            }
            
            &:hover{
                border-color: v.$c_accent_secondary_03;

                .icon{
                    background: v.$c_accent_secondary_02;
                    color: white;
                    border-color: v.$c_accent_secondary;
                }
            }
        }

        &.draft a{
            border-color: v.$c_accent;
            color: v.$c_accent;

            .icon{
                border-color: v.$c_accent_03;
            }

            &:hover{
                border-color: v.$c_accent_03;

                .icon{
                    color: v.$c_tone_00;
                    background: v.$c_accent;
                    border-color: v.$c_accent_04;
                }
            }
        }

        &.invalid a{
            border-color: v.$c_warning;
            color: v.$c_txt_warning_g;
            background: v.$c_tone_02;

            .icon{
                border-color: v.$c_warning;
            }

            .doc-date{
                color: v.$c_tone_05;
            }

            &:hover{
                border-color: v.$c_warning_bright;
                background: v.$c_tone_03;

                .icon{
                    color: v.$c_txt_warning_g;
                    background: v.$c_warning;
                    border-color: v.$c_warning_bright;
                }
            }

        }

        .invalid-icon{
            top: 0.15rem;
            width: 1rem;
            height: 1rem;

            span{
                font-size: 0.8rem;
            }
        }

        span{
            padding: 0.3rem 0.7rem;
        }
        .name{
            flex-grow: 2;
            max-width: 100%;
            overflow-wrap: break-word;
        }

        &.draft .doc-date{
            font-size: 0.9rem;
            font-style: italic;
            color: v.$c_accent_02;
        }
        .num-items{
            color: white;
            padding: 0.35rem 1rem 0.3rem 0.35rem;
            font-size: 0.9rem;
        }

    }

    .add-button{
        display: flex;
        align-items: center;
        color: v.$c_txt_main;
        padding: 0;
        text-decoration: none;
        font-size: 1rem;

        &:hover{
            animation-name: expand_add_document;
        }
    }

    .issued-icon,
    .saved-icon{
        display: block;
        width: 1rem;
        text-align: center;
        padding: 0.3rem 0.3rem;
        font-weight: bold;
        font-size: 0.9rem;
        border-right: 3px solid white;

        color: white;
        background: v.$c_tone_01;
    }
    .issued-icon{
        border-color: v.$c_accent_secondary_02;
    }
    .saved-icon{
        border-color: v.$c_accent;
    }
}

@keyframes expand_add_document{
    from {
        width: 30px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 8rem;
        text-indent: 44px;
    }
}

.existing-items-container{
    border-bottom: 1px solid v.$c_tone_01;
    width: 100%;

    .multi-parent-warning{
        margin: 0.5rem;
        padding: 0.5rem;
        background: v.$c_tone_02;
        color: v.$c_tone_06;

        emphasis{
            font-weight: bold;
            font-style: italic;
            color: v.$c_tone_07;
        }
    }

    span.desc{
        margin: 0.2rem 0 0 0.75rem;
    }
}

#container_edit_item{
    width: 96%;

    .temp-warning-msg{
        margin-top: 1.2rem;
    }
}

#po_edit_form{
    width: calc(90% - 1rem);
    max-width: 20rem;
    margin-bottom: 1.1rem;

    .button-container{
        gap: 5%;

        button, #po_submit_button{
            max-width: 10rem;
            width: 25%;
            height: 2rem;
        }
    }
}

.selling-price-container{
    position: relative;
}


#new_items_container{
    width: 95%;
    max-width: 500px;

    .add-button{
        // On a narrow screen, make it so the expansion occurs /over/ the "Add [_] more" box, 
        // instead of pushing the box down.
        position: absolute;
        margin: 0.5rem 0 0 0.5rem;
    }

    .add-multiple{
        background: v.$c_tone_01;
        border: 1px solid v.$c_tone_00;
        border-radius: 3px;

        width: fit-content;

        display: block;
        float: right;
        margin: 0.5rem 0.5rem 0;
        padding: 0.15rem 0.35rem;

        font-size: 0.8rem;

        input{
            width: 3rem;
            height: 0.9rem;
            margin-left: 0.1rem;
        }

        .button-primary{
            margin-left: 1.5rem;
            font-size: 0.9rem;
            width: 3rem;
            padding: 0.15rem 0.5rem;
        }
    }

}

.price-checker-edit-window{
    position: absolute;
    z-index: 2;
    left: -10px;

    background: v.$c_tone_02;
    min-width: 280px;

    text-align: left;

    p{
        margin: 0.5rem;
    }

    .price-options-container{
        border-top: 1px solid v.$c_tone_01;

        h6{
            font-size: 0.95rem;
            font-weight: normal;
            width: 100%;
            margin: 0.5rem 0 0 0.5rem;
            padding-bottom: 0.2rem;
        }

        button{
            margin: 0.2rem 5% 0.2rem;
            padding: 0.4rem 0.3rem;
            width: 40%;
        }
    }

    .combo-input-and-button{
        margin: 1rem 0 1rem 0.5rem;
    }

    .button-primary-hollow{
        background: v.$c_tone_00;

        &:hover{
            background: v.$c_tone_01;
            color: v.$c_accent_04;
        }
    }
}



.jobitems-details{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;

    width: 40rem;
    box-shadow: 0 0 15px 15px rgba(black, 33%);

    .header{
        position: relative;
        max-height: 35px;
        height: 35px;
        min-height: 35px;

        width: calc(100% - 5px);

        display: flex;
        align-items: center;
        justify-content: space-between;

        background: v.$c_tone_03;
        border-left: 3px solid v.$c_tone_05;
        box-sizing: border-box;

        h4{
            margin: 0 0 0 1rem;
        }
    }

    .jobitems-details-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        height: calc(100vh - 35px - 1px); // less header, less 1px to show the end
        overflow-y: auto;
    
        width: calc(100% - 5px);
        box-sizing: border-box;
    
        padding: 0.3rem;
    
        border-color: transparent transparent v.$c_tone_04 v.$c_tone_05;
        border-style: solid;
        border-width: 0 0 1px 3px;

        background: v.$c_tone_01;

        position: relative;
    }

    .expand-collapse{
        width: 100%;
        height: 0;
        box-shadow: 0 0 2rem 8px v.$c_tone_00;
    }
    
}


.job-item-container{
    max-width: 35rem;
    width: calc(100% - 0.5rem);
    padding: 0;
    border-bottom: 1px solid v.$c_tone_04;

    margin: 1rem 0 0 2rem;
    box-sizing: border-box;

    &:first-of-type{
        margin: 0.3rem 0 0 0;
        width: 100%;
        max-width: 40rem;
    }

    .ji-list{
        padding: 0.1rem 0 0.3rem 0;

        table{
            margin-left: 0.8rem;
            color: v.$c_tone_06;

            .desc{
                padding: 0 0.4rem;
            }
        }
    }

    .product-quantity{
        display: inline-block;
        padding: 0.3rem 0.5rem;
        font-size: 1.1rem;
        font-weight: bold;
    }

    a{
        text-decoration: none;
    }

    .subsection{
        margin: 0;
        border-left: 3px solid v.$c_tone_04;
        border-bottom: none;
    }

    .subsection-heading{
        font-size: 1rem;

        .desc{
            &:before,
            &:after{
                content: '"';
            }

            margin: 0.2rem 0 0 0;
            font-style: italic;
            font-weight: normal;
            font-size: 0.95rem;
            color: v.$c_tone_06;

            padding: 0.1rem;
        }
    }

    ul{
        margin: 3px 0 0 0;
        padding-bottom: 0.3rem;
    }

    li{
        color: v.$c_tone_06;
    }

    .assignment-icon{
        display: inline-block;
        border: 1px solid v.$c_tone_00;
        border-radius: 0.2rem;
        font-size: 0.75rem;
        margin: 0;
        padding: 0;
        margin: 0 0.1rem;
    
        span{
            display: block;
            float: left;
            padding: 1px 6px;
            margin: 0;
        }
    
        .label{
            border-top-left-radius: 0.15rem;
            border-bottom-left-radius: 0.15rem;
            border-right: 2px solid v.$c_accent_secondary;
            background: v.$c_tone_01;
            color: v.$c_tone_06;
        }
        .status{
            background: v.$c_tone_01;
            font-weight: bold;
        }
       
        &:last-of-type{
            border-bottom: 1px solid v.$c_tone_00;
        }
    }

    .money{
        padding: 4px 2px 10px 0.75rem;

        .selling_price{
            font-size: 1.2rem;
            font-weight: bold;
            margin-left: 0.5rem;
        }

    }

    .std-accs-container{
        border-left: 3px solid v.$c_tone_04;

        p{
            padding: 0.2rem 0 0.2rem 0.4rem;
            width: calc(100% - 0.4rem);
            background: v.$c_tone_02; 
            margin: 0;
        }
    }

    .module-status-section{
        .intro-line{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            padding: 0.2rem 0.1rem 0.2rem 0.4rem;
            background: v.$c_accent_02;

            .display-text{
                flex-grow: 2;
            }
            &:after{
                content: '';
                display: table;
                clear: both;
            }

            .warning-msg{
                margin: 0 0.5rem 0 0.5rem;
                padding: 0 0.7rem 0.2rem 0.3rem;
            
                .msg{
                    position: relative;
                    top: -0.1rem;
                }
            
                .invalid-icon{
                    top: 0.2rem;
                }
            }
        }
    }

    .assignments{
        border-left: 3px solid v.$c_tone_04;
        border-color: rgb(212, 199, 163);
        .intro-line{
            background: v.$c_product_dark;
        }
    }

    .modules-ok{
        border-left: 3px solid v.$c_accent_secondary;
        .intro-line{
            background: v.$c_tone_02;
        }
    }  

    .modules-incomplete{
        border-left: 3px solid red;
        .intro-line{
            background: v.$c_warning_dark;
        }
    }

    .modules-excess{
        border-left: 3px solid v.$c_flag_special_bright;
        .intro-line{
            background: v.$c_flag_special_dark;
        }
        li{
            color: v.$c_tone_06;
        }
    } 

    &.product .subsection,
    .subsection.product{
        .subsection-heading{
            background: v.$c_product_dark;
        }
        border-color: v.$c_product_light;
    }

}



#toggle_item_form_btn{
    margin-top: 3px;
}

.warning.subsection{
    margin: 1rem 0;
}

table.price-comparison{
    margin: 0.5rem;
    border-spacing: 0;

    th{
        text-align: right;
        padding: 0.1rem 0.3rem;
        border-right: 2px solid v.$c_tone_02;
    }
    td{
        padding: 0.3rem;
    }

    th, td{
        border-top: 1px solid v.$c_tone_02;
    }

    .diff-perc{
        font-size: 0.9rem;
        &:before{
            content: "(";
        }
        &:after{
            content: ")";
        } 
    }

    .number{
        text-align: right;
    }

    .conclusion{
        background: v.$c_tone_01;

        th{
            border-right: 2px solid v.$c_accent_secondary; 
        }

        th, td{
            border-top: 1px solid v.$c_tone_03;
        }
    }
}

@media screen and (max-width: 400px){
    table.price-comparison{
        margin: 0.2rem;
    }
}

.status-toggle-indicator{
    display: block;
    padding: 0.1rem 1rem 0.1rem 0.7rem;
    background: transparent;

    color: v.$c_tone_06;
    border: 1px solid v.$c_tone_03;
    border-left: 3px solid v.$c_tone_05;

    &:hover{
        background: v.$c_tone_03;
    }
}

#price_summary{
    margin-top: 1.5rem;
}





#po_table{
    .value{
        text-align: right;
    }

    .ref{
        box-sizing: border-box;
        max-width: 440px;

    }

    tr{
        position: relative;

        &.invalid{
            border-width: 1px 1px 1px 3px;
            border-style: solid;
            border-color: v.$c_warning v.$c_warning v.$c_warning v.$c_warning_bright;
            background: v.$c_warning_darker;

            .invalid-icon{
                position: relative;
                top: 0.1rem;

                width: 1.2rem;
                height: 1.2rem;

                margin-right: 0.5rem;                

                span{
                    left: 26px;
                    right: auto;
                }
            }

            .value{
                border-bottom: 1px solid red;
            }
        }
    }

    .panel{
        position: fixed;
        bottom: 0;

        background: v.$c_tone_01;
        z-index: 3;

        box-shadow: v.$panel_shadow;
    }
}
@media screen and (max-width: 900px){

    #po_table{
        .panel{
            position: absolute;
            top: 0;
            left: 50%;
            bottom: auto;
            transform: translate(-50%);
        }

        thead tr{
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td{
            display: inline-block;
            padding: 0.1rem 0.4rem;
            border: none;
            text-align: left;
            vertical-align: middle;
            height: auto;
        }

        tbody tr{
            display: grid;
            grid-template-columns: 6rem 9rem auto min-content;
            grid-template-rows: auto repeat(2, 1.5rem);
            grid-template-areas: 
                "ref ref ref edit"
                "date_on_po date_received . ."
                "value value value value"
            ;

            min-width: 286px;
            width: 99%;
            max-width: 450px;

            box-sizing: border-box;
            margin: 0.5rem 0 0 0;
            padding: 0.3rem 0.2rem;

            border: 1px solid v.$c_tone_00;
            box-shadow: 0 0 10px 1px rgba(black, 35%);
        }


        .ref{
            grid-area: ref;

            font-size: 1.2rem;
            font-weight: bold;

            max-width: min(400px, 76vw);
            overflow-wrap: break-word;
            
            &:before{
                content: 'PO #';
                display: inline-block;
                padding: 0 0.5rem 0 0;
            }
        }
        .date_on_po{
            grid-area: date_on_po;
            white-space: nowrap;
        }
        .date_received{
            grid-area: date_received;

            &:before{
                content: 'received';
                display: inline-block;
                padding: 0.08rem 0.5rem 0 0;
            }

            box-sizing: border-box;
            border-left: 3px solid v.$c_accent_secondary;
            background: v.$c_tone_00;
            font-size: 0.9rem;
            padding: 0.08rem 0.4rem;
            white-space: nowrap;
        }
        .value{
            grid-area: value;
            text-align: left;
        }
        tr.invalid .value{
            border-bottom: none;
        }

        .edit{
            grid-area: edit;
        }
    }
}




#jobitems_table{

    .quantity,
    .selling_price{
        text-align: right;
    }

    .modular{
        font-size: 0.9rem;
    }

    .ji_id .name-tag.id{
        margin: 0;
    }

    // When something is selected "dim" the non-selected text and statuses
    &.details-visible{
        td{
            color: v.$c_tone_03;
        }

        .content-highlight-wrapper{
            &.modules-ok,
            &.modules-excess,
            &.modules-incomplete{
                color: v.$c_tone_04;
                border-color: v.$c_tone_04;
                background: v.$c_tone_02;
            } 
        }
    }

    // When a row is selected as a parent, a wide side-border should appear against quantity.
    // When a row is selected as a child or sibling, a wide side-border should appear against part no.
    // The modular status also looks nice with a wide side-border.
    // It's nice for this border to appear inside the td so the table's border lines
    // are uninterrupted. To this end, there's a div wrapped around the contents of those
    // three <td>s in each row.

    // Get rid of the padding on cells with a div wrapper
    .modular,
    .ji_id,
    .part_no{
        padding: 0;
    }

    // Reapply td padding/formatting and the extra border
    .content-highlight-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;

        padding: 0.1rem 0.5rem;
        box-sizing: border-box;
        border-left: 3px solid transparent;
    }

    // Set colours for the modular status wrappers, which apply:
    //      > When the table is in "default mode", with nothing selected
    //      > When the item has been selected (directly or indirectly)
    &.details-visible .details-active .content-highlight-wrapper,
    &.details-visible .details-child .content-highlight-wrapper,
    &.details-visible .details-sibling .content-highlight-wrapper,
    .content-highlight-wrapper{

        &.modules-ok{
            color: white;
            border-color: v.$c_accent_secondary;
            background: v.$c_accent_secondary_02;
        }
    
        &.modules-incomplete{
            color: white;
            border-color: v.$c_warning_bright;
            background: v.$c_warning_dark;
        }
    
        &.modules-excess{
            color: white;
            border-color: v.$c_flag_special_bright;
            background: v.$c_flag_special_dark;
        } 
    }

    // Set special formatting to <tr>s selected for details (directly or indirectly)
    .details-active {
        background: v.$c_tone_06;

        td{
            color: black;
        }

        .ji_id .content-highlight-wrapper{
            border-color: v.$c_accent;
        }
    }

    .details-child{
        .part_no,
        .product_name,
        .selling_price,
        .modular{
            color: white;
            background: v.$c_tone_03;
            border-color: v.$c_tone_04;
        }

        .part_no .content-highlight-wrapper{
            border-color: v.$c_accent;
        }
    }

    .details-sibling{
        .part_no,
        .product_name{
            color: white;
            background: v.$c_product_dark;
            border-color: v.$c_tone_04;
        }

        .part_no .content-highlight-wrapper{
            border-color: v.$c_accent;
        }
    }

}


@media screen and (max-width: 680px){
    // The table won't fit on a narrow screen, so arrange each <tr> into a three-row grid

    #jobitems_table{
        // Make it stop behaving like a table
        width: 100%;
        margin: 0.3rem 0;

        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td{
            display: inline-block;
            padding: 0;
            border: none;
        }

        .content-highlight-wrapper{
            height: auto;
            padding: 0;
        }

        // Make it behave like a grid
        tbody tr{
            display: grid;
            grid-template-columns: repeat(4, auto) 1fr repeat(2, auto);
            grid-template-rows: 1.5rem 1.5rem 1.5rem;
            grid-template-areas: 
                "ji_id      qty         part_no     part_no         .               .           more_info"
                "prod_name  prod_name   prod_name   prod_name       prod_name       prod_name   prod_name"
                "mod-status mod-status  mod-status  selling_price   selling_price   price_list  price_list"
            ;

            min-width: 286px;
            width: 96%;
            max-width: 450px;

            box-sizing: border-box;
            margin: 0.5rem 0 0 0;
            padding: 0.3rem 0.2rem;

            border: 1px solid v.$c_tone_00;
            box-shadow: 0 0 10px 1px rgba(black, 35%);
        }

        .ji_id{
            grid-area: ji_id;
        }
        .selling_price{
            grid-area: selling_price;
        }
        .price_list{
            grid-area: price_list;
        }
        .more_info{
            grid-area: more_info;
        }
        .product_name{
            grid-area: prod_name;
        }

        .quantity{
            grid-area: qty;
            
            // In the absence of a heading, append " x " to hint at the quantity-ness
            padding-left: 0.5rem;
            &::after{
                content: "x";
                padding: 0 0.4rem;
            }
        }

        .part_no{
            grid-area: part_no;

            // In the absence of a heading, add [...] and padding to separate it from the name
            padding-right: 0.2rem;
            .content-highlight-wrapper{
                &::before{
                    content: "[";
                }
                &::after{
                    content: "]";
                }
            }
        }

        .modular{
            grid-area: mod-status;

            // The status text needs a heading for context, so add one
            &::before{
                display: inline-block;
                content: "mod.";
                background: v.$c_tone_01;
                padding: 0.1rem 0.4rem 0.2rem 0.4rem;
                font-size: 0.9rem;
            }

            // In this <td>, the highlight is still wanted, so adjust accordingly
            .content-highlight-wrapper{
                display: inline-block;
                width: auto;
                height: auto;
                min-width: 3rem;
                padding: 0.1rem 0.5rem 0.2rem;
                font-size: 0.9rem;
            }

            // If it's not a modular item, just hide all this
            // (We want the <td> on wide-mode, so React can't just... not render it)
            &.not-modular{
                &::before,
                .content-highlight-wrapper{
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }
        }

        // Adjust the "details selection" formatting for the new grid-based reality
        &.details-visible{

            .details-active{
                // Add wider side-border and adjust padding to avoid content wiggling
                border-left: 3px solid v.$c_accent;
                padding-left: calc(0.2rem - 2px); 

                td.modular{
                    &::before{
                        color: white;
                    }
                }

                .ji_id .content-highlight-wrapper {
                    border-color: transparent;
                }

            }

            .details-child{
                // Add wider side-border and adjust padding to avoid content wiggling
                border-left: 3px solid v.$c_accent;
                padding-left: calc(0.2rem - 2px);

                // Apply colour to the entire row
                background: v.$c_tone_03;
    
                td{
                    color: white;
                    height: auto;
                    border-color: v.$c_tone_04;
                }
                
                .part_no .content-highlight-wrapper{
                    border-color: transparent;
                }
            }
        
            .details-sibling{
                // Add wider side-border and adjust padding to avoid content wiggling
                border-left: 3px solid v.$c_product_light;
                padding-left: calc(0.2rem - 2px);

                // Apply colour to the entire row
                background: v.$c_product_dark;
    
                td{
                    color: white;
                    border-color: v.$c_tone_04;
                }
                
                .part_no .content-highlight-wrapper{
                    border-color: transparent;
                }
            }
        }
    }
}


// When the details panel won't fit at the side of the table, fix it to the
// top of the page and give it a scroll bar.
@media screen and (max-width: 1360px){
    .existing-items-container{
        box-sizing: border-box;
    }

    .more-icon span{
        left: -26px;
    }

    .jobitems-details{
        width: 100%;
        box-sizing: border-box;

        margin: 0;
        padding: 0;

        border-bottom: 1px solid v.$c_tone_03;
        box-shadow: 0 0 30px 20px rgba(black, 80%);
        background: v.$c_tone_02;

        .jobitems-details-container{
            align-items: center;
            max-height: 45vh;
            padding: 0;
        }

        .jobitems-details-container.expanded{
            height: calc(100vh - 2.1rem - 41px);
            max-height: calc(100vh - 2.1rem - 41px);
        }

        .expand-collapse{
            float: none;
            height: 40px;

            background-size: 30px;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center;

            span{
                top: -1rem;
                right: calc(50% - 2rem);
            }

            &.expand{
                background-image: url(../images/i-chevron-down.svg);
                &:hover{
                    background-image: url(../images/i-chevron-down-blue.svg);
                }
            }

            &.collapse{
                background-image: url(../images/i-chevron-up.svg);
                &:hover{
                    background-image: url(../images/i-chevron-up-blue.svg);
                }
            }
        }

    }


    .job-item-container{
        background: #333;
        box-shadow: 0 0 20px 1px rgba(black, 50%);

        width: calc(100% - 1rem);
        box-sizing: border-box;
        margin: 1rem 0 0 1rem;


        &:first-of-type{
            margin: 0.3rem 0 0 0;
            width: 100%;
            max-width: 40rem;
        }        

        // Make the price list icon go under the price if there's no space
        .money.subsection{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .selling_price{
                margin-left: 0;
            }
        }

        // Make the usage counters go under the id and price if there's no space
        .assignments .intro-line{
            justify-content: space-between;
            flex-wrap: wrap;

            .usage-counters{
                padding-top: 0.3rem;
            }
        }

        // Make the invalid warning message drop to another line
        .module-status-section .intro-line{
            flex-wrap: wrap;
        }

        .edit-icon span{
            right: 0;
        }

        // Get rid of the price list icon if there's no space
        .ji-list{ 
            table {
                margin: 0;
            }

            .name-tag{
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }
    }
}




#price_check_table{
    .ji_id{
        text-align: left;
        .name-tag.id{
            margin: 0;
        }
    }
    .resale-percentage .name-tag::before{
        content: 'RD';
        padding-right: 0.3rem;
    }
    .selling-price{
        display: inline-block;
        margin-top: 0.25rem;
    }
    td{
        text-align: right;
    }
    .description{
        position: relative;
    }
    .details{
        display: block;
        font-style: italic;
        color: v.$c_tone_06;

        padding: 0.2rem 0.7rem;
        background: v.$c_tone_00;
        border-radius: 0.3rem;

        text-align: center;

        position: absolute;
        z-index: 8;
        bottom: 1.5rem;
        left: 0;
        max-width: 10rem;
    }

    .temp-warning-msg{
        position: absolute;
        z-index: 3;
        right: 0;

        box-shadow: v.$shadow_popout;
        min-width: 12rem;
    }
}


.empty-section-notice{
    padding: 0 1rem;
}

// || Responsive table
@media screen and (max-width: 1098px){

    #price_check_table{
        // Make it stop behaving like a table
        width: 100%;
        margin: 0.3rem 0;

        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td{
            display: inline-block;
            padding: 0;
            border: none;
            height: auto;
            text-align: left;
            vertical-align: middle;
        }

        .selling-price{
            margin: 0;
        }

        tbody tr{
            display: grid;
            grid-template-columns: repeat(4, auto) 1fr auto;
            grid-template-rows: repeat(7, auto);
            grid-template-areas: 
                "ji_id qty part_no part_no part_no part_no"
                "price price price price price price"
                "version      version       version     list-price  list-price  list-price"
                "list-dv      list-dv       list-dv     list-dv     list-dv     list-dp"
                "resale-perc  resale-perc   resale-perc resale-price resale-price resale-price"
                "resale-dv    resale-dv     resale-dv   resale-dv  resale-dv    resale-dp"
            ;

            width: 100%;

            box-sizing: border-box;
            margin: 0.5rem 0 0 0.1rem;
            padding: 0.3rem 0.2rem;

            border: 1px solid v.$c_tone_00;
            box-shadow: 0 0 10px 1px rgba(black, 35%);
        }

        .ji_id{
            grid-area: ji_id;
            padding-left: 0.1rem;
        }
        .qty{
            grid-area: qty;
            
            // In the absence of a heading, append " x " to hint at the quantity-ness
            padding-left: 0.5rem;
            &::after{
                content: "x";
                padding: 0 0.4rem;
            }
        }
        .description{
            grid-area: part_no;

            .details{
                padding: 0.2rem 0.4rem;
                bottom: 1rem;
                max-width: 90%;
            }
        }

        .selling-price-container{
            grid-area: price;
            text-align: left;

            font-weight: bold;
            font-size: 1.1rem;
            padding: 0.3rem 0.3rem 0 0.3rem;

            &:before{
                display: inline-block;
                content: 'Sold for';
                padding-right: 1.4rem;
            }

            border-bottom: 1px solid v.$c_tone_03;
        }

        .version{
            grid-area: version;
            padding-top: 0.3rem;
        }
        .list-price{
            grid-area: list-price;
            padding: 0.4rem 0 0 0.7rem;
            color: v.$c_tone_05;
        }
        .list-diff-val{
            grid-area: list-dv;
            text-align: right;
            border-bottom: 1px solid v.$c_tone_03;
            padding: 0 0 0.4rem 0;
        }
        .list-diff-perc{
            grid-area: list-dp;
            padding: 0 0 0.4rem 0.5rem;
            border-bottom: 1px solid v.$c_tone_03;

            &::before{
                content: '(';
                display: inline-block;
                padding-left: 0.5rem;
            }
            &::after{
                content: ')';
                display: inline-block;
            }
        }

        .resale-percentage{
            grid-area: resale-perc;
            padding: 0.3rem 0 0 0;
        }
        .resale-price{
            grid-area: resale-price;
            padding: 0.3rem 0 0 0.7rem;
            color: v.$c_tone_06;
        }
        .resale-diff-val{
            grid-area: resale-dv;
            text-align: right;
        }
        .resale-diff-perc{
            grid-area: resale-dp;

            &::before{
                content: '(';
                display: inline-block;
                padding-left: 0.5rem;
            }
            &::after{
                content: ')';
                display: inline-block;
            }
        }
    }
}


// Status strip
.job-heading-with-status{

    .job-heading-with-extra{
        box-sizing: border-box;
        width: 100%;
        padding: 0.4rem 0 0.4rem 0.4rem;
        background: #555;
        border-bottom: none;
    
        // "Turn off" undesirable site-wide h2 formatting, then shrink the h2 so the indicator "fits"
        h2{
            display: inline-block;
            width: auto;
            margin: 0;
            padding: 0;
            border-bottom: none;
        }
    
        // The indicator is a flexbox, so use a wrapper to apply some "display: inline-block" goodness.
        .indicator-wrapper{
            display: inline-block;
            padding: 0 0 0 1rem;
        }
    
        // Shrink the status-indicator (default is 100% width, to "clear its row"); adjust position to fit nicely with the h2 text.
        .status-indicator{
            width: auto;
            margin-top: 0;
            position: relative;
            top: -0.2rem;

            .todo-list-toggle{
                padding-top: 0;
            }

            .status-name{
                background: v.$c_tone_02;
                border-color: v.$c_tone_01;
            }
        }
    }
}

#job_status_strip{
    margin-top: 2rem;
    border-bottom-color: v.$c_tone_04;
    border-left-color: v.$c_tone_05;

    h4{
        margin: 0;
        font-size: 1rem;
        background: v.$c_tone_03;
        width: 100%;
    }

    .subsection{
        margin-left: 0;
    }
}

.job-status-ele-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.7rem;
    padding: 0.7rem;
}

.details-toggle{
    border-bottom: 1px dotted white;
}
