@use "variables" as v;

/*  Module Management page formatting.
    Contents:
        || General
        || Modular items
        || Pop-up "bucket" menu
*/


// || General
.edit-slot-filler-btn{
    position: relative;
    top: -3px;
}

// || Modular item layout and formatting
.modular-item-container{
    margin-top: 2rem;
    padding-bottom: 1rem;

    &.excess-modules{
        border: 1px solid v.$c_flag_special_bright;
        box-shadow: 0 0 10px 1px rgba(v.$c_flag_special_bright, 60%);
    }

    .subsection{
        position: relative;
        margin-top: 1rem;
        margin-right: 3px;
        border-top: 1px solid v.$c_tone-500;
        border-right: 1px solid v.$c_tone-500;

        &.excess-modules{
            border-left: 2px solid v.$c_flag_special;

            h4{
                background-color: v.$c_flag_special_dark;
            }
        }
    }

    .modular-slot-container{
        display: grid;
        grid-template-columns: minmax(6rem, 25%) auto;
        grid-column-gap: 10px;

        .spine{
            color: white;
            border-right: 1px solid v.$c_tone-800;

            text-align: right;
            padding: 0.2rem;

            .add-slot{
                font-size: 0.8rem;
                font-style: italic;
                margin-top: 3px;
                padding: 2px 5px;
                background: v.$c_tone-500;
                border: 1px solid v.$c_tone-800;
                border-radius: 0.4rem;
                color: white;

                &:hover{
                    background: v.$c_tone-400;
                    border: 1px solid v.$c_tone-500;                    
                }
            }

            .slot-info{
                display: flex;
                justify-content: flex-end;
                flex-wrap:wrap;
                font-size: 0.8rem;

                div {
                    margin: 0.1rem;
                    border-radius: 3px;
                }

                .head{
                    padding: 0 4px;
                }

                .body{
                    padding: 3px;
                }

                .required{
                    background: v.$c_tone-1000;
                    color: v.$c_txt_main;
                    border: 1px solid v.$c_warning;
                    box-shadow: 0 0 2px 2px rgba(white, 20%);

                    .head{
                        border-right: 2px solid v.$c_warning_bright;
                    }
                }

                .optional{
                    background: v.$c_tone-400;
                    color: white;
                    border: 1px solid v.$c_tone-200;

                    .head{
                        border-right: 1px solid v.$c_tone-200;
                    }
                }

                .filled{
                    background: transparent;
                    border: 1px solid v.$c_tone-500;
                    color: white;
                    box-shadow: 0 0 0 0;

                    .head{
                        border-right: 1px solid v.$c_tone-500;
                    }
                }

                .excess{
                    background: white;
                    color: v.$c_tone-950;//v.$c_warning;
                    border: 1px solid v.$c_flag_special;//v.$c_warning_bright;
                    font-weight: bold;

                    .head{
                        background: v.$c_flag_special_bright;//v.$c_warning_bright;
                        color: v.$c_tone-1000;
                        border-right: 1px solid v.$c_flag_special;//v.$c_warning_bright;
                    }
                }
            }
        }

        .contents{
            flex-grow: 2;
            padding: 0.5rem 0;

            .module-slot{
                position: relative;

                margin: 3px 5px 0 0;
                border: 1px solid v.$c_tone-800;
                border-radius: 0.75rem;
                font-size: 1rem;
                padding: 0.25rem 10px;
                min-height: 1.5rem;

                .child-desc{
                    margin-top: 3px;
                }

                .editor-slot-filler-quantity{
                    display: grid;
                    grid-template-rows: auto min-content min-content;
                    grid-template-columns: auto min-content min-content;
                    grid-template-areas: 
                        "desc remove close"
                        "formy formy formy"
                        "error error error"
                    ;

                    .close{
                        grid-area: close;
                    }
                    .delete-panel{
                        grid-area: remove;
                    }
                    .close,
                    .delete-panel{
                        margin-top: -3px;
                        margin-right: -3px;
                        z-index: 1;

                        &:hover span{
                            top: -18px;
                            right: 18px;
                        }
                    }

                    .combo-input-and-button{
                        grid-area: formy;
                        flex-flow: row nowrap;

                        input{
                            width: 100%;
                            max-width: 6.2rem;
                        }
                    }
                    .desc{
                        grid-area: desc;
                        padding: 0 0.2rem 0.3rem 0;
                    }
                    .temp-warning-msg{
                        grid-area: error;
                        margin-left: 0;
                        max-width: 100%;
                    }

                }

                &.editing,
                &.new-slot-filler-inputs{
                    background: v.$c_tone-500;
                    border-color: v.$c_tone-400; 
                }


                &.new-slot-filler-inputs{
                    display: grid;
                    grid-template-columns: auto min-content;
                    grid-template-rows: auto auto auto auto;
                    grid-template-areas:
                        "title close"
                        "dropdown dropdown"
                        "quantity quantity"
                        "error error"
                    ;
                    gap: 0.3rem;

                    h5{
                        grid-area: title;
                        margin: 0;
                        padding: 0.3rem;
                        font-size: 1rem;
                    }

                    .close{
                        grid-area: close;
                        margin-top: -3px;
                        margin-right: -3px;
                        z-index: 1;

                        &:hover span{
                            top: -18px;
                            right: 18px;
                        }
                    }

                    select{
                        grid-area: dropdown;
                        width: 100%;
                    }

                    .combo-input-and-button{
                        grid-area: quantity;
                        flex-flow: row nowrap;
                        input{
                            width: 100%;
                            max-width: 6.2rem;
                        }
                    }

                    .temp-warning-msg{
                        grid-area: error;
                    }

                }

            }

            .empty{
                color: black;
                background: v.$c_tone-50;
            }

            .new-slot-filler-inputs{
                color: white;
            }

            .jobitem{
                background: transparent;
                color: white;

                .edit-icon:hover{
                    background-position: 5px 4px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    .modular-item-container .modular-slot-container .contents .module-slot{
        &.editing,
        &.new-slot-filler-inputs{
            position: absolute;
            top: 2rem;
            left: 0.1rem;
            max-width: 100%;
            z-index: 2;
            box-shadow: 0px 0px 15px 8px rgb(15,15,15);
        }
    } 
}

// || Pop-up "bucket" menu
.module-bucket-container{
    position: absolute;
    left: 0;
    max-width: 400px;
    background: v.$c_tone-800;
    padding: 0;
    z-index: 2;

    .bucket-options-container{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
        border-bottom: 1px solid #DDD;

        .bucket-item{
            display: block;
            border-radius: 8px;
            padding: 4px 8px;
            margin: 8px;
            max-width: 40%;

            .availability{
                display: block;
                margin: 4px 0 0;
                padding: 3px 0 0;

                font-size: 0.75rem;
                font-style: normal;
            
                border-top: 1px solid v.$c_tone-400;
                color: v.$c_txt_main;

                width: auto;
            }
        }
    
        .bucket-item.jobitem{
            background: v.$c_tone-500;
            border: 1px solid v.$c_tone-400;
            color: v.$c_txt_main;

            &:hover{
                background: v.$c_tone-400;
                border-color: v.$c_tone-300;

                .availability{
                    border-color: v.$c_tone-300;
                }
            }
        }
    
        .bucket-item.jobitem_usedup{
            background: v.$c_tone-800;
            border: 1px solid v.$c_tone-500;
            color: v.$c_tone-400;
            font-style: italic;

            .availability{
                border-color: v.$c_tone-500;
                color: v.$c_tone-400;
                font-style: italic;
            }
        }

    }

    p{
        margin: 0 0.5rem 0;
        padding: 1rem 0.3rem 1rem;
        border-bottom: 1px solid v.$c_tone-950;
    }

    .add-button{
        margin: 6px;
    }

    .add-new-btn{
        border: 1px solid rgb(0, 142, 15);
        background: white;
        color: rgb(0, 142, 15);

        font-size: 0.9rem;
        border-radius: 10px;
        padding: 3px 10px;
        margin: 8px;
    }
}
@media screen and (min-width: 625px) {
    .module-bucket-container{
        left: auto;
    }
}