// CSS for "salesPitch.html", i.e. the index page when you're not logged in
@use "variables" as v;

/*
    Contents:
        || SCSS Variables
        || Shared
        || Layout
        || Heading and Hero
        || Paragraph-only sections
        || Features
        || Testimonials
        || Responsive
*/

$constrain_to: 800px;

$breakpoint_contentContainer: 500px;
$breakpoint_testimonialsAsRows: 600px;
$breakpoint_featuresAsRows: 750px;
$breakpoint_largerFont: 950px;
$breakpoint_featuresTwoByTwo: 1002px;
$breakpoint_testimonialsThreeCol: 1150px;


// || Shared
@mixin contentWrapperShared{
    // A grey rectangular wrapper with rounded corners and a shadow. 
    width: fit-content;
    max-width: 100%;

    background: rgba(v.$c_tone-800, 60%);

    border-radius: 0.5rem;
    border: 1px solid v.$c_tone-900;
    box-shadow: 1px 1px v.px-to-rem(15) v.px-to-rem(1) rgba(black, .2);
}

@mixin sectionHeadings{
    // Section headings for use on the sales pitch page

    font-size: calc(var(--mainFontSize) * var(--headingFontMultiplier));
    margin: 0 0 calc(var(--mainFontSize) * (var(--headingFontMultiplier) + 0.25)) 0;
    padding: 0;
    width: fit-content;

    border: none;
    align-self: start;

    @media screen and (min-width: $breakpoint_largerFont){
        --headingFontMultiplier: 1.5;
    }
}

@mixin paragraphOnlySection{
    // A single paragraph, with a thick left-side-border, constrained to the
    // content width

    width: $constrain_to;
    max-width: var(--maxWidthContent);

    display: flex;
    flex-direction: column;
    align-items: start;

    &_background{
        width: fit-content;
        max-width: 100%;
        padding: 0 0.75rem;

        @media screen and (min-width: $breakpoint_largerFont) {
            padding: 0 v.px-to-rem(16);
        }
    }

    &_heading{
        @include sectionHeadings();
    }

    &_description{
        --sideBorderWidth: 5px;
        --paddingY: #{v.px-to-rem(16)};
        --paddingX: #{v.px-to-rem(18)};

        margin: 0;
        padding: var(--paddingY) var(--paddingX);
        width: 70ch;
        max-width: 100%;
        
        font-size: var(--mainFontSize);
        line-height: 1.4;
    
        border-left: var(--sideBorderWidth) solid v.$c_accent-300;
        border-top-right-radius: v.px-to-rem(4);
        border-bottom-right-radius: v.px-to-rem(4);

        background: rgba(black, .1);
    
        @media screen and (min-width: 500px){
            font-size: calc(var(--mainFontSize) + 1px);
        }

        @media screen and (min-width: $breakpoint_largerFont){
            --sideBorderWidth: 6px;
            --paddingY: #{v.px-to-rem(20)};
            --paddingX: #{v.px-to-rem(28)};
        }  

    }
}



// || Layout
.salesPitch{
    --mainFontSize: #{v.px-to-rem(16)};
    --headingFontMultiplier: 1.3;

    --maxWidthContent: 94%;
    --contentSpacing: 6rem;

    /*
        Added clamp to better support zooming out, but it might help in other cases too.
        Min/max are from googling common device resolutions.
        360px was the smallest (= smart phone in landscape mode) and 1080px was the tallest. 
        I decided to ignore the possibility of a desktop monitor in portrait mode on the grounds 
        that /if/ someone goes to the trouble of rotating their desktop monitor, it's probably
        because they like having more vertical content on their screen, so let's /not/ try to fill
        most of it with an abstract and meaningless hero image.
    */
    --heroHeight: clamp(360px, 75vh, 1080px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--contentSpacing);

    position: relative;

    padding: 0 0 var(--contentSpacing) 0;

    color: v.$c_tone-100;

    font-family: v.$f_contents;
    background: v.$c_bg_main;
    background: v.$g_bg_main;
}



// || Heading and Hero
.mainHeadingWrapper{
    width: $constrain_to;
    max-width: var(--maxWidthContent);

    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
}

.mainHeading{
    --adminasFontSize: 2.75rem;
    --iconSize: calc(var(--adminasFontSize) * 1.25);
    
    border: none;
    padding: 0;
    width: fit-content;

    margin: 0; /* reset */
    
    display: grid;
    grid-template-columns: var(--iconSize) auto;
    grid-template-rows: auto auto auto;
    gap: 0 calc(var(--adminasFontSize) / 2.5);

    &_icon{
        align-self: center;
        grid-row-start: 1;
        grid-row-end: 3;
        height: var(--iconSize);
        width: var(--iconSize);
    }
    
    &_name{
        align-self: end;
        grid-column-start: 2;
    
        line-height: 1;
        font-size: var(--adminasFontSize);
        font-weight: 400;
    }
    
    &_motto{
        grid-column-start: 2;
        margin: 0;
        padding: 0;
        width: 100%;
    
        color: v.$c_tone-200;
        font-size: calc(var(--adminasFontSize) * .4);
        font-weight: 400;
        text-align: center;
    }
    
    &_links{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 1.75rem;
    
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    
    &_register,
    &_login{
        padding: 0.5rem 0;
        width: 45%;
    
        font-size: calc(var(--adminasFontSize) / 2.75);
        text-align: center;
        text-decoration: none;  
    }
}


.heroSection{
    --bigCircle: 8%;
    --midCircle: 1.5%;
    --smallCircle: 0.4%;

    height: var(--heroHeight);
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;

    background-image:
        radial-gradient(    circle at calc(100% - var(--bigCircle) + var(--bigCircle)/5) calc(2% + var(--bigCircle) + var(--bigCircle)/5), 
                            v.$c_accent-400 0%,
                            v.$c_accent-500 var(--bigCircle),
                            transparent calc(var(--bigCircle) + 1px)),
        radial-gradient(    circle at calc(64% - var(--midCircle) + var(--midCircle)/5) calc(8% + var(--midCircle) + var(--midCircle)/5), 
                            v.$c_accent-500 0%,
                            v.$c_accent-500 var(--midCircle),
                            transparent calc(var(--midCircle) + 1px)),
        radial-gradient(    circle at calc(90% - var(--midCircle) + var(--midCircle)/5) calc(72% + var(--midCircle) + var(--midCircle)/5), 
                            v.$c_accent-500 0%,
                            v.$c_accent-500 var(--midCircle),
                            transparent calc(var(--midCircle) + 1px)),
        radial-gradient(    circle at calc(25% - var(--smallCircle) + var(--smallCircle)/5) calc(25% + var(--smallCircle) + var(--smallCircle)/5), 
                            v.$c_accent-500 0%,
                            v.$c_accent-500 var(--smallCircle),
                            transparent calc(var(--smallCircle) + 1px)),
        radial-gradient(    circle at calc(64% - var(--smallCircle) + var(--smallCircle)/5) calc(81% + var(--smallCircle) + var(--smallCircle)/5), 
                            v.$c_accent-500 0%,
                            v.$c_accent-500 var(--smallCircle),
                            transparent calc(var(--smallCircle) + 1px)),
        radial-gradient(    circle at calc(93% - var(--smallCircle) + var(--smallCircle)/5) calc(47% + var(--smallCircle) + var(--smallCircle)/5), 
                            v.$c_accent-500 0%,
                            v.$c_accent-500 var(--smallCircle),
                            transparent calc(var(--smallCircle) + 1px)),
        linear-gradient(    rgba(black, .45) 0%, rgba(black, .3) 80%, transparent 100% ),  
    ;

    &::before{
        display: block;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 20%;
        z-index: 1;

        background-image: url('../images/curves.svg#svgView(preserveAspectRatio(none))');
        background-repeat: no-repeat;
        background-size: max(1920px, 100vw) var(--heroHeight);
        background-color: transparent;
        background-position: -37.5rem -3rem;
    }
}
@media screen and (min-width: 400px){
    .heroSection::before{
        background-position: -35rem -3rem;
    }
}
@media screen and (min-width: $breakpoint_largerFont){
    .heroSection::before{
        background-position: -20rem -2rem;
    }
    .mainHeading{
        position: relative;
        top: 15%;
        left: -2%;
    }
}
@media screen and (min-width: 1275px){
    .heroSection::before{
        background-position: 5% center;
    }
    .mainHeading{
        position: relative;
        top: 15%;
        left: -4rem;
    }
}


// || Paragraph-only sections
.whatIs{
    @include paragraphOnlySection();
}


.isItForMe{
    @include paragraphOnlySection();
}


// || Features
.features{
    width: $constrain_to;
    max-width: var(--maxWidthContent);

    display: flex;
    flex-direction: column;
    align-items: center;

    &_heading{
        @include sectionHeadings();
        align-self: start;
    }
    
    &_cardsContainer{
        --featureCardWidth: #{v.px-to-rem(370 + 18 * 2)};
    
        width: var(--featureCardWidth);
        max-width: 100%;
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
}


.featureCard{
    @include contentWrapperShared();
    padding: v.px-to-rem(22) v.px-to-rem(18);

    margin: 0;
    width: var(--featureCardWidth);
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1rem;

    &_iconFrame{
        --size: calc(var(--mainFontSize) * 3.5);
    
        align-self: center;
        height: var(--size);
        width: var(--size);
    
        background: v.$c_accent-500;
        border-radius: 50%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &_icon{
        --iconSize: calc(var(--size) * .6875);
        
        height: var(--iconSize);
        width: var(--iconSize);
    }
    
    &_description{
        margin: calc(var(--mainFontSize) * 1.75) 0;
        width: 100%;
    
        font-size: var(--mainFontSize);
    }
}


// || Testimonials
.testimonialsWrapper{
    // Coloured strip going all the way across the page
    --spacing: 3rem;

    align-self: stretch;
    background: rgba(black, 0.4);
    box-shadow: inset 0 0 v.px-to-rem(15) v.px-to-rem(3) rgba(black, .25);

    display: flex;
    justify-content: center;

    padding: v.px-to-rem(26) v.px-to-rem(6) v.px-to-rem(44);
}

.testimonials{
    width: $constrain_to;
    max-width: var(--maxWidthContent);

    &_heading{
        @include sectionHeadings();
        margin-bottom: var(--spacing);
    }

    &_container{
        width: 100%; 
    
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: var(--spacing);
    }
}


.testimonialCard{
    width: 20rem;
    max-width: 100%;

    font-size: var(--mainFontSize);

    display: flex;
    flex-direction: column;
    align-items: center;

    &_image{
        --testimonialImageSize: 90px;
    
        height: var(--testimonialImageSize);
        width: var(--testimonialImageSize);
    
        border-radius: 100%;

        // Let some of the BG through to darken the images, so they're less glaring
        opacity: 90%;
    }
    
    &_name{
        margin: 0.75rem 0 1rem;
    }
    
    &_description{
        margin: 0;
        padding: 1rem 0 0;
    
        color: v.$c_tone-100;
        font-style: italic;
        
        border-color: v.$c_accent-800;
        border-style: solid;
        border-width: 1px 0 0 0;
    }

}


// || Responsive (general)
@media screen and (min-width: $breakpoint_largerFont){
    .mainHeading{
        --adminasFontSize: 4rem;
    }
    .testimonials{
        padding: 0.5rem 2rem;
    }
}

// || Responsive features
@media screen and (min-width: $breakpoint_featuresAsRows) and (max-width: calc($breakpoint_featuresTwoByTwo - 1px)) {
    .features_cardsContainer{
        width: 50rem;
        max-width: 100%;

        flex-direction: column;
    }

    .featureCard{
        --colGap: 3rem;
        --contentColWidth: calc(45% - var(--colGap) / 2);
        --screenieColWidth: calc(55% - var(--colGap) / 2);

        width: 50rem;
        max-width: 100%;

        display: grid;
        grid-template-columns: var(--leftColWidth) var(--rightColWidth);
        grid-template-rows: auto auto;
        align-items: center;
        column-gap: var(--colGap);

        &:nth-child(odd){
            --contentCol: 1;
            --leftColWidth: var(--contentColWidth);

            --screenieCol: 2;
            --rightColWidth: var(--screenieColWidth);
        }
        &:nth-child(even){
            --screenieCol: 1;
            --leftColWidth: var(--screenieColWidth);

            --contentCol: 2;
            --rightColWidth: var(--contentColWidth);
        }

        &_iconFrame{
            grid-column-start: var(--contentCol);
            grid-row-start: 1;
            justify-self: center;
        }
    
        &_description{
            grid-column-start: var(--contentCol);
            grid-row-start: 2;
            width: 100%;
            max-width: 100%;
        }
    
        &_screenie{
            grid-column-start: var(--screenieCol);
            grid-row-start: 1;
            grid-row-end: end;
            justify-self: center;
        }
    }
}

@media screen and (min-width: $breakpoint_featuresTwoByTwo){
    .features_cardsContainer{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        width: fit-content;

        --featureCardWidth: calc(#{v.px-to-rem(370)} + 4rem);
    }
    .featureCard{
        padding: 1.75rem 2rem;
        &_description{
            font-size: calc(var(--mainFontSize) * 1.1);
        }
    }
}

// || Responsive testimonials
@media screen and (min-width: $breakpoint_testimonialsAsRows) and (max-width: calc(#{$breakpoint_testimonialsThreeCol} - 1px)){
    .testimonialCard{
        width: 100%;

        display: grid;
        grid-template-columns: 9rem auto;
        grid-template-rows: auto auto;
        gap: 0 2rem;

        padding: 0;

        &_image{
            align-self: end;
            justify-self: center;
        }
    
        &_name{
            align-self: start;
            justify-self: center;
            margin: 0.75rem 0 0;
        }
    
        &_description{
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            align-self: center;
            padding: 2rem 0 2rem 2rem;
    
            border-width: 0 0 0 1px;
        }
    }
}

@media screen and (min-width: $breakpoint_testimonialsThreeCol){
    .testimonials{
        display: flex;
        flex-direction: column;
        align-items: center;

        &_heading{
            align-self: start;
        }

        &_container{
            width: 100%;
    
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }    
    }

    .testimonialCard{
        width: calc(27%);
    }
}