@use 'variables' as v;

/* Common CSS for Adminas-React
    Contents:
        || HTML tag adjustments
        || Heading classes
        || Page layout
        || Nav bar
        || Footer
        || Hover Spans
        || Buttons
        || Return to Job Link
        || Panels and Form-Likes
        || Text formatting (errors, database IDs)
        || Pagination
        || Responsive tables
        || Comments
        || Visibility functionality
        || Errors
*/


:root{
    --mainContentSideMargins: 24px;
}


// || CSS Reset
// Adapted from https://www.joshwcomeau.com/css/custom-css-reset/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

// My resets
a{
    color: v.$c_accent;
    &:hover{
        color: v.$c_accent_04;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    font-family: v.$f_heading;
}


input,
select,
textarea{
    margin-top: 3px;
    background: v.$c_tone_00;
    border: 1px solid v.$c_accent-700;
    border-radius: 3px;
    color: v.$c_txt_main;

    &:active{
        background: v.$c_tone_01;
        border: 1px solid v.$c_accent-500;
    }
    &:focus{
        outline: thin dotted rgba(white, 0.5);
        outline-offset: v.px-to-rem(2);
        background: v.$c_tone_01;
        border: 1px solid v.$c_accent-600;
    }        
}

input{
    height: v.px-to-rem(28);
    padding: 0.2rem 0.5rem;
}

select{
    max-width: 100%;
    height: v.px-to-rem(28);
    padding: 0.2rem 0.3rem;
}

textarea{
    max-width: 100%;
    font-family: v.$f_contents;
    font-size: 0.9rem;
    padding: 3px 5px;
    line-height: 1.5rem;
}

// On Chrome, the calendar icon on calendar picker inputs blends in with the background. This makes it light enough to stand out.
::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23ffffff" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

article{
    padding: 0;
}



// || Body class
.appBody{    
    font-family: v.$f_contents;
    background: v.$c_bg_main;
    background: v.$g_bg_main;
    color: v.$c_txt_main;
}


// || Heading classes
.adminas-name{
    font-family: v.$f_adminas;
}

.productName{
    font-family: v.$f_adminas;
    color: v.$c_tone_07;

    span{
        color: v.$c_accent;
    }
}


.pageHeading{
    margin: v.px-to-rem(20) 0 0 0;
    padding: v.px-to-rem(8) 0 v.px-to-rem(8) v.px-to-rem(14);
    width: 100%;

    font-family: v.$f_heading;
    font-size: 1.25rem;
    font-weight: 500;

    border-left: 3px solid v.$c_accent-500;
    border-top-right-radius: v.px-to-rem(4);
    border-bottom-right-radius: v.px-to-rem(4);

    background: v.$c_tone_950;
}

.subheading{
    margin: 0;
    padding: 0 0 v.px-to-rem(8) v.px-to-rem(14);
    font-size: 1rem;
    color: v.$c_tone_200;

    border-left: 3px solid v.$c_accent-500;

    position: relative;
    top: v.px-to-rem(-7);
    background: v.$c_tone_950;
}

.extended-subheading{
    display: block;
    position: relative;
    width: 100%;

    a{
        color: v.$c_txt_main;
    }

    .edit-icon{
        position: absolute;
        height: 1.5rem;
        bottom: 0;
        right: 0.8rem;
        text-decoration: none;

        &:hover{
            background-position: 5px 4px;
        }
    }
}


.sectionHeading{
    padding: v.px-to-rem(4) 0 v.px-to-rem(3) v.px-to-rem(3);
    margin: v.px-to-rem(28) 0 0 0;
    width: 100%;

    font-family: v.$f_heading;
    font-size: v.px-to-rem(18);
    font-weight: 500;

    border-bottom: 1px solid v.$c_tone_700;
}


.sectionHeadingWrapper{
    position: relative;

    &_editIcon.edit-icon{
        position: absolute;
        top: 0;
        right: 0;

        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        &:hover{
            background-position: 5px 5px;
            background-color: transparent;
            border-bottom: 2px solid v.$c_accent-500;
            background-color: rgba(white, 0.1);
    
            span{
                transition-delay: 0.05s;
                color: white;
                border-radius: 5px;
                background: rgba(v.$c_tone_00, 80%);
                border: 1px solid v.$c_tone_00;
    
                display: block;
                width: 3rem;
            }
        }


    }
}


// || Page layout
.page_container{
    margin: 0;
    width: 100%;
}

.page_contents{
    width: calc(100% - var(--mainContentSideMargins));
    margin: 0 auto 0;
    min-height: 100vh;
}

.existing-items-container{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    padding-bottom: 1rem;
}


// || Nav bar
.adminasMainHeading{
    font-size: 1.3rem;
    border-left: 3px solid v.$c_tone_03;
    padding: v.px-to-rem(3) v.px-to-rem(8) v.px-to-rem(3);
    background: rgba(black, .2);

    &_icon{
        display: inline-block;
        position: relative;
        top: v.px-to-rem(1);
        margin-right: v.px-to-rem(1);
    }
}

.adminasMainNav{
    &_list{
        display: flex;
        gap: v.px-to-rem(12);

        margin: 0;
        padding: 0 v.px-to-rem(3);

        border-style: solid;
        border-color: v.$c_tone_600;
        border-width: 0 0 1px 3px;
        border-top: 1px solid v.$c_tone_800;

        list-style: none;

        background: rgba(black, .2);
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
    }

    &_navLink{
        display: block;

        font-size: 0.95rem;
        padding: 0.5rem v.px-to-rem(8);

        text-decoration: none;
        color: v.$c_txt_main;

        border-bottom: 3px solid transparent;
        &:hover{
            color: v.$c_txt_main_highlight;
            background: v.$c_tone_02;
            border-bottom: 3px solid v.$c_accent;
        }
    }
}


// || Footer
.credits{
    border-top: 1px solid rgba(v.$c_tone_800, .2);
    font-size: v.px-to-rem(10);
    margin-top: 5rem;
    padding: 4px 8px;

    display: flex;
    align-items: center;

    &_heading{
        padding: 0;
        margin: 0;
        color: v.$c_tone_700;
        font-size: v.px-to-rem(10);
        font-weight: 500;
    }

    &_list{
        display: flex;
        align-items: start;
        gap: 0;
        list-style-type: none;
        margin: 0;
        padding-inline-start: v.px-to-rem(10);
    }

    &_listItem{
        display: flex;
        &:not(:nth-of-type(1)){
            &:before{
                display: block;
                content: ", ";
                color: v.$c_tone_800;
                padding-right: 0.25rem;
            }
        }
    }

    a{
        color: v.$c_tone_03;
        text-decoration: none;
        &:hover{
            color: v.$c_tone_05;
            text-decoration: underline;
        }
    }
}


// || Hover Spans
.hoverSpan {
    &_container{
        position: relative;

        &:hover{
            .hoverSpan_span{
                @include v.visually-unhidden;
                position: absolute;
                z-index: 10;
            }
        }
    }

    &_span {
        @include v.visually-hidden;
        display: block;
        pointer-events: none;
        color: white;
        border-radius: 5px;
        background: rgba(v.$c_tone_00, 80%);
        border: 1px solid v.$c_tone_00;
        padding: v.px-to-rem(3) v.px-to-rem(9);
        
        font-family: v.$f_contents;
        font-size: v.px-to-rem(14);
        line-height: 1;
    }
}



// || Buttons
.button-primary{
    font-weight: bold;
    border-radius: 0.6rem;

    background: v.$c_accent;
    background: v.$g_button_main;
    color: v.$c_txt_alt;
    border: 1px solid v.$c_accent_02;

    &:hover{
        color: v.$c_tone_02;
        background: v.$c_accent_03;
        background: v.$g_button_hover;
        box-shadow: 0 0 3px 1px v.$c_tone_02;
    }
    &:active{
        background: red;
    }
    &:focus,
    &:focus-visible
    &:focus-within{
        outline: dotted v.px-to-rem(2) rgba(v.$c_accent-50, 0.9);
        outline-offset: v.px-to-rem(2);
        color: v.$c_txt_alt;
        background: v.$c_accent-400;
        background: v.$g_button_focus;
    }
}
.buttonSecondary{
    font-weight: bold;
    border-radius: 0.6rem;

    background: transparent;
    color: v.$c_accent;
    border: 1px solid v.$c_accent_02;

    &:hover{
        color: v.$c_accent_04;
        background: v.$c_tone_02;
        box-shadow: 0 0 3px 1px v.$c_tone_02;
    }
}

.button-warning{
    font-weight: bold;
    border-radius: 0.6rem;

    background: v.$c_tone_02;
    background: v.$g_secondary_btn;
    border: 1px solid v.$c_warning;
    color: v.$c_warning;

    &:focus,
    &:focus-visible,
    &:focus-within,
    &:hover{
        background: v.$g_warning_hover;
        color: v.$c_txt_warning_g;
    }

    &:focus,
    &:focus-visible,
    &:focus-within{
        outline: dotted v.px-to-rem(2) rgba(v.$c_tone-100, 0.9);
        outline-offset: v.px-to-rem(2);
    }
}

.invalid-icon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    background-image: url(../images/i-warning.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    position: relative;
    
    span{
        position: absolute;
        top:0;
        right:26px;
        z-index: 3;
        color: transparent;
        text-align: center;
    }

    &:hover{
        span{
            transition-delay: 0.05s;
            color: white;
            border-radius: 5px;
            background: rgba(v.$c_tone_00, 80%);
            border: 1px solid v.$c_tone_00;

            display: block;
            padding: 0.3rem;
        }
    }
}

.add-button{
    border: 0;
    border-radius: 13px;
    border: 1px solid transparent;

    height: 30px;
    width: 30px;

    &.comment{
        margin: 0;
    }

    background-image: url(../images/i-plus-empty.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    background-size: 24px 24px;
    text-indent: -9999px;

    &:hover{
        border: 1px solid v.$c_tone_05;

        color: v.$c_txt_main;
        font-weight: bold;

        background-image: url(../images/i-plus-filled.svg);
        background-color: v.$c_tone_02;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-name: expand_add_default;

        &.module,
        &.special-instruction{
            animation-name: expand_add_wide;
        }
    }   
}

@keyframes expand_add_default {
    from {
        width: 30px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 7.5rem;
        text-indent: 18px;
    }
}

@keyframes expand_add_wide{
    from {
        width: 30px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 12rem;
        text-indent: 20px;
    }
}

.edit-icon{
    float: right;
    position: relative;

    border: 0;
    border-bottom: 2px solid transparent;

    height: 26px;
    width: 26px;

    background-image: url(../images/i-edit.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;

    margin-left: 3px;
    margin-right: 3px;
    max-width: 26px;

    span{
        position: absolute;
        top:0;
        right:26px;

        color: transparent;
        text-align: center;
    }

    &:hover:enabled{
        background-position: 5px 5px;
        background-color: transparent;
        border-bottom: 2px solid v.$c_accent-500;

        span{
            transition-delay: 0.05s;
            color: white;
            border-radius: 5px;
            background: rgba(v.$c_tone_00, 80%);
            border: 1px solid v.$c_tone_00;

            display: block;
            width: 3rem;
        }
    }

    &:disabled{
        opacity: 0.25;
    }

    &.dark{
        background-image: url(../images/i-edit-dark.svg);

        &:hover{
            border-color: #1a1a1aff;
        }
    }
}

.close,
.delete-panel,
.more-icon,
.expand-collapse{
    position: relative;
    float: right;
    color: v.$c_tone_07;
    margin-right: 3px;

    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: right;
    border: transparent;

    background-color: transparent;
    padding: 3px 5px;
    z-index: 2;

    span{
        display: block;
        position: absolute;
        top: 0;
        right: 26px;
        z-index: 5;

        font-size: 1rem;
        width: 4rem;

        color: transparent;
        text-align: center;
    }

    &:hover{
        span{
            color: v.$c_txt_main;
            border-radius: 5px;
            background: rgba(v.$c_tone_00, 80%);
            border: 1px solid v.$c_tone_00;
        }
    }    
}

.buttonSpan{
    display: block;
    position: absolute;
    top: 0;
    right: 26px;
    z-index: 5;

    font-size: 1rem;
    width: 4rem;

    color: transparent;
    text-align: center;

    &:hover{
        color: v.$c_txt_main;
        border-radius: 5px;
        background: rgba(v.$c_tone_00, 80%);
        border: 1px solid v.$c_tone_00;
    }
}

.close{
    background-image: url(../images/i-x-hollow.svg);

    &:hover{
        background-image: url(../images/i-x-filled.svg);
    }
}

.delete-panel{
    color: v.$c_tone_07;
    background-image: url(../images/i-minus-empty.svg);

     &:hover{
        background-image: url(../images/i-minus-filled.svg);
    }
}

.more-icon{
    color: v.$c_tone_07;
    background-image: url(../images/i-more-empty.svg);

    span{
        top: -3px;
        left: 0;
    }

    &:hover,
    &:active,
    &:focus{
        background-image: url(../images/i-more-filled.svg);
    }

    &.dark{
        &:hover,
        &:active,
        &:focus{
            background-image: url(../images/i-more-filled-dark.svg);
        }
    }
}



// || Return to Job Link
.return-to-job{
    display: block;
    border: 1px solid v.$c_accent_02;
    border-radius: 8px;
    padding: 6px 8px;
    width: fit-content;
    margin: 0.75rem 0 0 0;
    text-decoration: none;
    
    &:hover{
        border: 1px solid v.$c_accent_02;
        background: v.$g_button_main;
        font-weight: bold;
        color: v.$c_txt_on_accent;
    }
}


// || Panels and Form-Likes
.panel{
    display: inline-block;
    position: relative;

    border: 1px solid v.$c_tone_03;
    border-radius: 3px; //8px;

    max-width: v.$MAX_WIDTH;
    width: 93%;

    margin: 1rem 0.5rem 0 0.5rem;

    &.popout{
        box-shadow: 0 0 15px 15px rgba(black, 33%);
    }

    a{
        text-decoration: none;
    }

    .panel-header{
        font-size: 1rem;

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin: 0;
        padding: 12px 8px;

        color: v.$c_txt_main;
        background: v.$c_tone_03;
        background: linear-gradient(0deg, v.$c_tone_03 0%, #686868 100%);
        border-bottom: 1px solid v.$c_tone_03;

        h3{
            margin: 0;
        }

        .desc{
            &:before,
            &:after{
                content: '"';
            }

            font-style: italic;
            font-weight: normal;
            font-size: 0.95rem;
            color: v.$c_tone_06;
        }
    }
}

// Panel subsections
.subsection{
    margin: 1rem 0 0 3px;
    border-bottom: 1px solid v.$c_tone_03;
    border-left: 3px solid v.$c_tone_04;

    h4,
    .subsection-heading,
    &_heading{
        padding: 0.4rem 0 0.4rem 0.4rem;
        background: v.$c_tone_02; 
        margin: 0;
        border-bottom: 0;
    }

    &.warning{
        border-left: 3px solid v.$c_warning_bright;

        .intro-line, h4{
            background: v.$c_warning;
        }

        p{
            margin: 0;
            padding: 0.5rem;
        }
    }

    &_input{
        height: 1.75rem;
        font-size: 0.9rem;
    }

    .one-comment:last-of-type details{
        border-bottom: none;
    }
}

.read_row{
    border-bottom: 1px solid v.$c_tone_02;
    padding: 0.2rem 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .row-label{
        display: inline-block;
        min-width: 8rem;
        max-width: 8rem;

        margin-left: calc(0.3rem + 6px);
    }
}

fieldset.form-row{
    display: flex;
    flex-flow: wrap;
    column-gap: 0.2rem;
    row-gap: 0.4rem;

    padding: 0.4rem 0.5rem;

    border-color: v.$c_tone_03;

    label{
        margin: 0;
    }
}

.button-wide{
    width: 100%;
    padding: 0.4rem 0;
    height: 2.3rem;
    font-size: 1.2rem;      
}


// || Forms and form-ish thingies
.formy{
    display: flex;
    flex-direction: column;
    gap: v.px-to-rem(24);

    min-width: 270px;
    width: fit-content;
    max-width: 100%;

    &_productDesc{
        display: block;
        font-size: 0.9rem;
        font-style: italic;
        margin: v.px-to-rem(8) 0 0 v.px-to-rem(4);
        border-left: 3px solid v.$c_accent_secondary;
        padding: v.px-to-rem(5) v.px-to-rem(8);
    
        max-width: 92%;

        &.hide{
            display: none;
        }
    }

    &_label{
        display: block;
        padding-top:0.3rem;
        font-size: 1.1rem;
        font-weight: bold;
    }

    &_labelFieldContainer{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: start;

        input{
            margin: 0;
        }
    }

    &_date,
    &_select,
    &_input{
        height: 1.7rem;
        margin: 0;
    }

    &_date{
        width: 8rem;
    }

    &_currencySelect{
        width: 4rem;
    }

    &_inputsContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &_formRow{
        display: block;
        position: relative;
        padding: 0.3rem 0.4rem;
        border-radius: 5px;
        background: v.$c_tone_02;
        margin: 1rem auto 0;
        width: 97%;

        &:first-child{
            border-top: none;
            margin-top: 0;
        }
    }
}

.formSet{

    &_formRow{
        display: block;
        position: relative;
        padding: v.px-to-rem(12) v.px-to-rem(12) v.px-to-rem(16);
        border-radius: 5px;
        background: rgba(white, .15);
        width: 100%;
        max-width: v.$MAX_WIDTH;
    }

    &_removeItemButton{
        position: relative;
        top: v.px-to-rem(-8);
        right: v.px-to-rem(-8);
    }

    &_addMoreContainer{
        --gapMore: 1rem;

        position: relative;
        display: flex;
        justify-content: end;
        gap: var(--gapMore);

        width: 100%;
    }

    &_addOne{
        position: absolute;
        left: 0;
        bottom: v.px-to-rem(1);
        z-index: 2;
        margin: 0;

        &:hover{
            font-weight: 500;
        }
    }

    &_addNMore{
        width: fit-content;
        margin: 0;
        padding: 0.15rem 0.35rem;
    
        font-size: 0.8rem;
    
        background: v.$c_tone_01;
        border: 1px solid v.$c_tone_00;
        border-radius: 3px;
    
        display: flex;
        justify-content: space-between;
        gap: v.px-to-rem(16);
    }
    
    &_addNMoreLabel{
        display: flex;
        gap: v.px-to-rem(8);
        align-items: center;
    }

    &_inputNMore{
        width: 3rem;
        height: 0.9rem;
        margin-left: 0.1rem;
    }

    &_submitNMore{
        font-size: 0.9rem;
        width: 3rem;
        padding: 0.15rem 0.5rem;
    }

    &_formRowsContainer{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: v.px-to-rem(16);
    }
}
@media screen and (min-width: 395px){
    .formSet{
        &_addMoreContainer{
            --addNItemsW: #{v.px-to-rem(209)};
            --addItemW: #{v.px-to-rem(120)};
            justify-content: space-between;
            min-width: calc(var(--gapMore) + var(--addNItemsW) + var(--addItemW));
        }

        &_addOne{
            position: static;
            z-index: auto;
        }
    }
}


.formControls{
    margin: 0;

    width: 100%;
    height: 100%;
    white-space: nowrap;

    display: flex;
    justify-content: space-between;
    align-items: start;

    &_button,
    &_submit{
        border-radius: 5px;
        padding: 5px 10px;
        width: 20%;
        min-width: 4.5rem;
    }

    &_submit{
        height: auto;
        padding: 5px 0.5rem;
        font-size: 1rem;
        width: 20%;
    }
}


.checkboxWithLabel{
    display: flex;
    align-items: center;
    gap: v.px-to-rem(8);

    &_label{
        --size: v.px-to-rem(14);
        font-size: var(--size);
        line-height: 1;
    }
}


.singleInputWithButton{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto v.px-to-rem(26);
    row-gap: v.px-to-rem(4);

    margin: 0 0 v.px-to-rem(16) 0;

    &_label{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;

        font-weight: 500;
    }
    &_input{
        grid-column: 1;
        grid-row: 2;

        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: auto;
    }
    &_submit{
        grid-column: 2;
        grid-row: 2;

        margin: 0;
        font-size: 0.9rem;
        line-height: 1;
        width: v.px-to-rem(70);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        min-width: 0;
    }
}

.form-like{

    label,
    input,
    select,
    span,
    .button-container{
        margin: 0;
        margin-left: 0.7rem;
    }
    span.product_desc{
        margin-left: 0;
    }

    label{
        display: block;
        margin-top: 1rem;
        margin-bottom: 6px;
        margin-right: 0.7rem;
        padding-top:0.3rem;
        font-size: 1.1rem;
        font-weight: bold;
    }

    #id_edit_item_selling_price{
        // This has a span in front indicating the currency, so it doesn't want the full margin
        margin-left: 0.5rem;
    }

    .issue-date{
        margin-top: 1rem;
    }

    .form-row{
        display: block;
        position: relative;
        padding: 0.3rem 0.4rem;
        border-radius: 5px;
        background: v.$c_tone_02;
        margin: 1rem auto 0;
        width: 97%;

        :first-child{
            border-top: none;
            margin-top: 0;
        }

        input,
        select{
            max-width: 80%;
        }

        &.panel{
            padding: 1rem 0.4rem;
        }
    }



    .controls{
        margin: 1.2rem 0.5rem 1rem 0.5rem;

        width: calc(100% - 1rem);
        height: 100%;
        overflow-x: auto;
        white-space: nowrap;

        button,
        input[type=submit]{
            float: left;
            margin: 5px;
            border-radius: 5px;
            padding: 5px 10px;
            width: 20%;
            min-width: 4.5rem;
        }

        input[type=submit]{
            height: auto;
            padding: 5px 0.5rem;
            font-size: 1rem;
            width: 20%;
        }

        .delete-btn,
        .delete-comment-btn{
            float: right;
        }
    }

    .full-width-button{
        width: 100%;
        margin: 1rem 0 0;
        padding: 0.4rem 0;
        height: 2.3rem;
        font-size: 1.2rem;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;        
    }

    div:last-child{
        border-bottom: none;
    }

    &.hide{
        display:none;
    }

    span.desc{
        display: block;
        font-size: 0.9rem;
        font-style: italic;
        margin: 0.2rem 0 0 1.2rem;
        border-left: 3px solid v.$c_accent_secondary;
        padding: 5px;
    
        &.hide{
            display: none;
        }
    }

}

.form-row{
    margin-left: 0.5rem;

    label{
        display: block;
        margin: 1rem 0 0 1px;
    }

    .display-address{
        margin: 0.5rem 0 0 1rem;
        padding-left: 8px;
        border-left: 2px solid v.$c_accent_secondary;
        color: v.$c_tone_07;
    }
}




@media screen and (min-width: 445px){
    // NOTE TO SELF: this can probably be better fixed via box-sizing: border-box;
    // Something about the proliferation of %-based widths results in width issues (on narrow screens)
    // on the Job page whenever the form to add multiple items is visible.
    // Setting a pixel-based width above solved the problem for narrow screens, but causes a problem
    // on wide screens (= weirdly skinny form sections). This widens them again.

    .form-like{
        .form-row.panel{
            width: 95%;
        }
    }
}


.combo-input-and-button{
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    span{
        display: block;
        margin: 0 0 0.2rem 0;
        min-width: 100%;
    }
    
    input{
        margin: 0;
        width: 12rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    button{
        margin: 0;
        font-size: 0.9rem;
        width: 3.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        min-width: 0;
        line-height: 1;
    } 
}








// || Text formatting (errors, database IDs)
.temp-warning-msg{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: fit-content;
    max-width: 65%;
    min-height: 32px;
    
    margin-top: 0.3rem;
    margin-left: 0.6rem;
    padding: 0 0.3rem;

    font-size: 0.9rem;

    color: v.$c_txt_warning_g;
    background: v.$c_tone_00;
    
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    border: 1px solid v.$c_tone_02;
    border-left: 3px solid v.$c_warning;
    
    &.user-management{
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .message{
        flex-grow: 3;;
    }

    .close{
        min-width: 30px;
        max-width: 30px;
        margin-left: 0.7rem;
    }
}

.warning-msg{
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.1rem 0.7rem 0.2rem 0.3rem;

    font-size: 0.9rem;

    color: v.$c_txt_warning_g;
    background: v.$c_tone_00;
    
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    border: 1px solid v.$c_tone_02;
    border-left: 3px solid v.$c_warning;

    .invalid-icon{
        top: 0.3rem;

        height: 1.2rem;
        width: 1.2rem;

        margin-right: 0.4rem;
    }
}



.error-message{
    clear: both;
    float: right;
    border: 1px solid v.$c_tone_00;
    border-right: 3px solid v.$c_warning;
    background: v.$c_tone_01;
    margin: 0.5rem;
    padding: 4px 8px;
}


.name-tag{
    margin: 0 0 0 5px;
    padding: 1px 5px;
    font-size: 0.75rem;
    font-style: normal;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: v.$c_tone_01;
    border: 1px solid v.$c_tone_00;
    border-left: 2px solid v.$c_accent_secondary_03;
    color: v.$c_txt_main;

    white-space: nowrap;

    width: -moz-fit-content;
    width: fit-content;

    &.id{
        &:before{
            content: 'id ';
        }
    }
}


.empty-section-notice{
    margin: 0;
    padding: v.px-to-rem(8) v.px-to-rem(16) v.px-to-rem(8) v.px-to-rem(14);
    width: fit-content;

    display: block;
    font-style: italic;
    color: v.$c_tone-200;
    
    border-left: 3px solid v.$c_tone-800;
    border-bottom-right-radius: v.px-to-rem(6);
    border-top-right-radius: v.px-to-rem(6);
    background: linear-gradient(to right, rgba(white, .05) 0%, rgba(white, .02) 100%); 
}


// || Pagination
.pagination_controls{
    margin: 1.5rem 0;
    height: 2rem;

    display: flex;
    max-width: v.$MAX_WIDTH;

    a{
        text-decoration: none;
    }

    a,
    span{
        flex: 1;
        text-align: center;
        border: 1px solid v.$c_tone_03;
        padding: 0.4rem;
    }

    .disabled-link{
        font-style: italic;
        color: v.$c_tone_02;
    }

    a:hover{
        border: 1px solid v.$c_accent_02;
        background: v.$g_button_main;
        color: v.$c_txt_on_accent;
        font-weight: bold;
    }

    :first-child{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    :last-child{
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}


// || Responsive tables (i.e. switches from a table to formatted rows when the screen is too narrow)
.banded{
    tbody tr:nth-of-type(even){ 
        background: v.$c_tone_02;
    }
}

#jobitems_table,
#po_table,
#price_check_table,
.responsive-table{
    margin: 0.3rem;
    border-collapse: collapse;
 
    th,
    td{
        padding: 0.1rem 0.5rem;
    }
    th{
        border: 1px solid v.$c_tone_02;
        background: v.$c_tone_03;
    }
    td{
        border: 1px solid v.$c_tone_03;
        height: 2rem;
    }

    .edit-icon{
        margin: 0 0 0 0.3rem;
    }
    .edit-icon:hover{
        background-position: 5px 4px;
    }
}

@media only screen and (max-width: v.$breakpoint_table_to_rows) {
    // https://css-tricks.com/responsive-data-tables/
    .responsive-table{
        display: block; 

        /* Force table to not be like tables anymore */
        thead,
        tbody,
        th,
        td,
        tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { 
            margin-top: 0.3rem;
            border: 1px solid v.$c_tone_04; 
        }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid v.$c_tone_03; 
            position: relative;
            padding-left: 50%; 
            padding-top: 10px;

            height: 1.75rem;
        }
       
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 10px;
            left: 6px;
            width: 47%; 
            padding-right: 10px; 
            white-space: nowrap;
        }
    }
}


// || Comments
.one-comment{
    position: relative;

    min-width: 250px;
    max-width: v.$MAX_WIDTH;

    padding: 2px 5px 0;

    summary{
        list-style: none;
    }

    .main{
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;

        .contents{
            margin: 0;
            padding: 5px;

            flex-grow: 2;
        }

        .privacy-status,
        .public-status{
            margin: 4px 6px;

            min-width: 24px;
            width: 24px;
            height: 24px;
            text-indent: -9999px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px 24px;
            text-indent: -9999px;
        }

        .privacy-status{
            background-image: url(../images/i-private-comment.svg);
        }

        .public-status{
            background-image: url(../images/i-speech-bubble.svg);
        }

        p{
            &:first-of-type{
                margin-top: 0;
            }

            &:last-of-type{
                margin-bottom: 0;
            }
        }

    }

    .footer{
        padding: 3px;

        .ownership{
            display: inline-block;
            margin: 0;
            margin-left: 3px;
            padding-bottom: 3px;
        }

        .controls{
            button{
                border: 0;
                border-radius: 13px;
                border: 1px solid transparent;
    
                height: 26px;
                width: 26px;
    
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 16px 16px;
                text-indent: -9999px;
    
                &:hover{
                    background-color: v.$c_tone_04;
                    border: 1px solid v.$c_tone_05;
    
                    color: v.$c_txt_main;
                    font-weight: bold;
    
                    animation-duration: 0.2s;
                    animation-fill-mode: forwards;
                    animation-name: expand_comment_controls;
                }
    
            }
    
            .edit-comment{
                background-image: url(../images/i-edit.svg);
                
                &:hover{
                    background-position: 7px 4px;
                }
            }
    
            .highlighted-toggle{
                background-image: url(../images/i-highlight.svg);
    
                &:hover{
                    background-position: 4px 4px;
                }     
            }
    
            .pinned-toggle.pin-on{
                background-image: url(../images/i-pin-filled.svg);
    
                &:hover{
                    background-position: 4px 4px;
                }
            }
        
            .pinned-toggle.pin-off{
                background-image: url(../images/i-pin-unfilled.svg);
    
                &:hover{
                    background-position: 4px 4px;
                }
            }
    
            .temp-warning-msg{
                position: absolute;
                z-index: 3;
                box-shadow: v.$shadow_popout;
            }
        }
    }

    .wrapper{
        border-style: solid;
        border-width: 1px 1px 1px 2px; // 2px so the "highlighted" border doesn't cause wiggling
    }

    .comment-body{
        padding: 0 5px 5px 5px;
        min-height: calc(24px + 8px); // i.e. to fit the "private" icon, with some padding.
    }

    details.wrapper{
        padding: 0;
        border-color: transparent transparent v.$c_tone_03 transparent;

        &[open]{
            background: v.$c_tone_03;
            border-color: v.$c_tone_04;
            border-left: 1px solid v.$c_tone_04;
    
            .comment-body{
                background: v.$c_tone_02;
                border-bottom: 1px solid transparent;
                padding-bottom: 5px;
            }   
        }
    }

    div.wrapper{
        margin: 1rem 0 0 0;

        background: transparent;
        border-color: v.$c_tone_02;

        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        .comment-body{
            padding: 0.3rem;
            border-bottom: 1px solid v.$c_tone_02;

            background: v.$g_bg_main;
            border-top-right-radius: 0.4rem;

            .main{
                .contents{
                    display: block;
                    margin: 0;
                    padding: 0.3rem;
                }
            }
        }  
        
        .footer{
            margin: 0;
            padding: 3px;
            font-size: 0.9rem;
            color: v.$c_tone_05;
        }
    }

    &.highlighted{
        .wrapper,
        details.wrapper[open]{
            border-left-color: yellow;
        }

        details.wrapper{
            .comment-body{
                background: linear-gradient(90deg, rgba(white, 12%) 0%, transparent 100%);
            }
            
            &[open]{
                border-width: 1px 1px 1px 2px;
                background: transparent;

                .comment-body{
                    background: linear-gradient(90deg, rgba(white, 12%) 0%, transparent 100%);
                }
                
                .footer{
                    margin: 0;
                    padding: 3px;
                    background: v.$c_tone_03;
                }
            }
        }

        div.wrapper{
            background: v.$c_tone_03;
            box-shadow: v.$panel_shadow;

            .comment-body{
                background: transparent;
            }
            .footer{
                color: v.$c_tone_06;
            }
        }
    }
}

.create-comments-container{
    display: block;
    width: 100%;
    padding: 0.7rem 0;

    .job-comment-cu-container{
        margin: 0 0 0 0.7rem;
    }
}
.all-comments{
    .create-comments-container{
        margin: 0 0 0 0;
    
        .job-comment-cu-container{
            margin: 0 0 1rem 0;
        }
    }
}

.job-comment-cu-container{
    background: v.$c_tone_02;
    padding: 2px 5px 0;

    h4{
        margin: 5px 0 0;
        background: transparent;
        padding: 5px;
    }

    textarea{
        padding: 8px;
        width: 100%;
    }

    .checkbox-container{
        background: v.$c_tone_01;
        border: 1px solid v.$c_tone_00;
        border-radius: 3px;
        
        margin: 0.3rem 0 0 0;
        padding: 3px 0 0;
        width: calc(100% - 3px);
        height: 1.5rem;

        display: flex;
        flex-direction: row;
        align-content: flex-start;

        label{
            margin: 0.15rem 0 0.25rem 0.4rem;
            padding: 0;
            font-size: 0.85rem;
            font-weight: normal;
            border: none;
        }
        input{
            margin: 1px 0 0 7px;
        }
        #id_private_checkbox,
        #id_pinned_checkbox{
            margin-right: 1.9rem;
        }

    }

    &.form-like .controls{
        margin: 0.7rem 0;
    }
}

@keyframes expand_comment_controls{
    from {
        width: 26px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 8rem;
        text-indent: 0;
    }
}




// || Visibility functionality
.sr-only,
.hide{
    @include v.visually-hidden();
}

.hover-parent{
    display: inline-block;
    position: relative;

    .hover-child{
        display: none;
        position: absolute;
        top: -0.75rem;
        left: 1rem;
        width: 18rem;
        font-size: 0.8rem;
        padding: 3px 5px 3px 3px;
        color: v.$c_txt_alt;
        background: v.$c_tone_05;
        border: 1px solid v.$c_tone_06;
        border-radius: 2px;
    }

    &:hover .hover-child{
        display: block;
    }
}


.statusEle{
    display: block;
    background: v.$c_tone_01;

    &_icon{
        display: flex;
        align-items: center;
        justify-content: center;

        background: v.$c_tone_04;
        border-color: transparent;
        height: v.px-to-rem(20);
        width: v.px-to-rem(22);

        font-weight: bold;

        &-status_action{
            color: v.$c_tone_01;
            background: v.$c_accent-500;

            &:hover{
                background: v.$c_accent-300;
            }
        }
        &-status_ok{
            background: v.$c_secondary-800;
            border-right: 1px solid v.$c_secondary-800;

            &:hover{
                background: v.$c_secondary-600;
            }
        }
        &-status_attn{
            color: v.$c_tone_01;
            background: v.$c_flag_special;

            &:hover{
                background: v.$c_flag_special_bright;
            }
        }
        &-status_warning{
            color: v.$c_tone_01;
            background: v.$c_warning;  

            &:hover{
                background: v.$c_warning_bright;
            }
        }
    }

    &_message{
        position: absolute;
        z-index: 50;
        background: v.$c_tone_00;
        border: 2px solid v.$c_tone-200;
        padding: v.px-to-rem(4) v.px-to-rem(8);
        box-shadow: 0 0 v.px-to-rem(12) v.px-to-rem(3) rgba(black, 0.2);

        &-status_action{
            border-color: v.$c_accent-500;
        }
        &-status_ok{
            border-color: v.$c_secondary-800;
        }
        &-status_attn{
            border-color: v.$c_flag_special;
        }
        &-status_warning{
            border-color: v.$c_warning;
        }
        &-hidden{
            display: none;
            top: -9999px;
            left: -9999px;
        }
    }



}


.status-ele{
    display: block;
    background: v.$c_tone_01;
    border: 1px solid v.$c_tone_04;
    
    .icon{
        display: inline-block;
        background: v.$c_tone_04;
        border-right: 1px solid transparent;
        width: 1rem;
        padding: 0.2rem 0.4rem;
        text-align: center;
        font-weight: bold;
        width: 1.75rem;
    }

    .message{
        padding: 0.2rem 1rem;
        margin-right: 3px;
        display: inline-block;
    }

    &.status_action{
        border-color: v.$c_accent;
        .icon{
            color: v.$c_tone_01;
            background: v.$c_accent;
        }
    }
    &.status_ok{
        border-color: v.$c_accent_secondary_02;
        .icon{
            background: v.$c_accent_secondary_02;
            border-right: 1px solid v.$c_accent_secondary_02;
        }
    }
    &.status_attn{
        border-color: v.$c_flag_special;
        .icon{
            color: v.$c_tone_01;
            background: v.$c_flag_special;
        }
    }
    &.status_warning{
        border-color: v.$c_warning;
        .icon{
            color: v.$c_tone_01;
            background: v.$c_warning;
        }        
    }
}






// || Errors
.bigErrorMessage{
    --contentSideMargin: #{v.px-to-rem(8)};
    max-width: 80ch;

    &_heading{
        width: 100%;
        margin: 0;
        border-color: v.$c_warning;
        padding: v.px-to-rem(4) var(--contentSideMargin);
    }

    &_genericText{
        margin: v.px-to-rem(24) var(--contentSideMargin);
    }

    &_specificError{
        --sideMargin: calc(var(--contentSideMargin) * 1.5);
        margin: v.px-to-rem(24) var(--sideMargin);

        border-style: solid;
        border-color: v.$c_warning;
        border-width: 0 0 0 v.px-to-rem(4);

        background: v.$c_warning_darker;

        padding: v.px-to-rem(12) v.px-to-rem(20);
    }

}


// || Modal
.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateZ(-2px);
    height: 100vh;
    width: 100vw;
    z-index: 100;
    
    background: rgba(black, .8);
    backdrop-filter: blur(1px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{ 
    --scrollbarWidth: 18px;
    --contentSideMargin: #{v.px-to-rem(8)};

    height: fit-content;
    width: fit-content;
    max-height: 80vh;
    max-width: calc(100vw - var(--scrollbarWidth) * 2);
    overflow: auto;
    padding: 0;

    border-style: solid;
    border-color: v.$c_tone_800;
    border-width: v.px-to-rem(1);
    border-radius: v.px-to-rem(16);

    background: v.$c_bg_main;
    background: v.$g_bg_modal;
    color: v.$c_txt_main;

    position: relative;
    &_closeButton{
        position: absolute;
        top: v.px-to-rem(2);
        right: v.px-to-rem(2);
        z-index: 101;

        background-position: center;

        &:focus-visible{
            outline: v.$c_tone_700 dotted 1px;
            outline-offset: 4px;
        }
    }

    &_heading{
        margin: 0;
        border-color: v.$c_tone-600;
        padding: v.px-to-rem(14) calc(var(--contentSideMargin) * 2) v.px-to-rem(8);
        width: 100%;
        background: v.$c_tone_700;
    }

    &_contents{
        padding: v.px-to-rem(12) v.px-to-rem(8);
    }
}

@media screen and (min-width: 500px) {
    .modal{
        &_contents{ 
            padding: v.px-to-rem(12) v.px-to-rem(16) v.px-to-rem(16);
        }
    }
}



.toggle{
    --size: #{v.px-to-rem(24)};
    --fontSize: #{v.px-to-rem(12)};

    height: var(--size);
    width: calc(var(--size) * 2);
    border-radius: calc(var(--size) / 2);

    line-height: 1;
    font-size: var(--fontSize);

    position: relative;

    &-on{
        background: v.$c_accent-500;
    }
    &-off{
        background: v.$c_tone_04;
    }

    &_labelText{
        border-left: v.px-to-rem(3) solid v.$c_tone_500;
        padding: 0 0 0 v.px-to-rem(10);
    }

    &_ball{
        --diameter: calc(var(--size) - 4px);
    
        width: var(--diameter);
        height: var(--diameter);
        border-radius: 100%;
    
        background: v.$c_tone_50;
        position: absolute;
        top: v.px-to-rem(2);
        left: v.px-to-rem(2);
    
        transition: 250ms ease-in-out;
    
        &-on{
            transform: translateX(calc(var(--size) * 2 - var(--size)));
        }
    }

    &_statusText{
        position: absolute;
        top: calc(50% - var(--fontSize) / 2);
    
        &-on{
            left: v.px-to-rem(8);
        }
        &-off{
            right: v.px-to-rem(8);
        }
    }
    
    
}


.pagination{
    position: relative;
    top: v.px-to-rem(-4);

    display: flex;
    justify-content: end;
    gap: v.px-to-rem(2);

    padding: 0 v.px-to-rem(4) 0 0;

    &:before{
        content: 'pages';
        display: block;
        padding: 0 v.px-to-rem(5) 0 0;
        color: v.$c_tone-300;
    }

    &_button{
        --borderRadius: 0.25rem;

        color: v.$c_tone-200;

        background: none;
        border: none;
        border-bottom: v.px-to-rem(2) solid transparent;
        border-top-left-radius: var(--borderRadius);
        border-top-right-radius: var(--borderRadius);

        &:disabled{
            color: v.$c_tone-50;
            border-color: v.$c_accent-500;
            background: rgba(black, 0.5);
        }

        &:not(:disabled):hover{
            color: v.$c_txt_main;
            border-color: v.$c_accent-300;
            background: rgba(white, 0.1);
        }
    }

    &_separator{
        align-self: end;
        color: v.$c_tone-500;
    }
}