@use "variables" as v;

/*  To-Do list formatting.
    Contents:
        || Layout
        || Pinned comments section
        || Common CSS adjustments (panel)
*/

// || Layout
#id_todo_list_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

// || Pinned comments section
.comments{
    h5{
        margin: 3px 4px;
        padding: 3px 8px;
        font-size: 0.75rem;

        border-radius: 6px;
        border: 1px solid v.$c_tone_04;
        color: v.$c_tone_06;

        width: -moz-fit-content;
        width: fit-content;
    }

    .add-job-comment-simplified{
        margin: 5px;
        padding: 0.5rem;
    }
}

p.empty-section-notice{
    padding: 0.2rem 0.5rem;
}





// || Common CSS adjustments
.panel.job{
    max-width: 400px;
    box-shadow: v.$panel_shadow;

    .panel-header{
        border-bottom: none;
    }

    &:hover{
        border: 1px solid v.$c_tone_06;
        box-shadow: v.$panel_shadow_highlight;
    }

    p{
        color: v.$c_txt_main;
        margin: 0;
        padding: 12px 10px;
        background: v.$c_tone_02;
        
    }

    ul{
        margin-top: 0;
        margin-bottom: 0;
        background: v.$c_accent_01;
        color: v.$c_txt_main;
        padding: 8px 24px;
        border-top: 1px solid v.$c_accent;
        border-bottom: 1px solid v.$c_accent;
    }

    .comments{
        border-top: 1px solid v.$c_tone_02;
        margin: 0;
        padding: 0.1rem;
    }

    .add-button.comment{
        margin: 3px 5px;
    }

    .status-container{
        margin: 0.3rem;

        .status-ele{
            margin-bottom: 0.3rem;
            color: #f4f4f4;
        }
    }
}