// Constants
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

$f_adminas: Roboto, sans-serif;
$f_heading: 'Arial', sans-serif;
$f_contents: 'Calibri', sans-serif;



$MAX_WIDTH: 700px;
$breakpoint_table_to_rows: 930px;

$c_bg_main: rgb(34, 35, 36);
$g_bg_main: linear-gradient(45deg, rgb(34, 35, 36) 0%, rgb(40, 40, 41) 35%, rgb(56, 58, 58) 100%);
$c_txt_main: #F6F6F6;
$c_txt_main_highlight: white;
$c_txt_alt: black;
$c_txt_alt_highlight: #222;

$c_tone_00: #141414;
$c_tone_01: #222;
$c_tone_02: #444;
$c_tone_03: #666;
$c_tone_04: #888;
$c_tone_05: #AAA;
$c_tone_06: #BBB;
$c_tone_07: #F6F6F6;

$c_accent: #00D4F5;
$c_accent_04: #6bfaff;
$c_accent_03: #4ADFF7;
$c_accent_02: #00c2e0;
$c_accent_01: #006675;
$c_txt_on_accent: black;
$g_accent_main: linear-gradient(135deg, $c_accent_02 0%, $c_accent 75%, $c_accent_04 100%);
$g_accent_main_background: linear-gradient(135deg, rgb(48, 48, 48) 75%,  $c_accent_01 100%);

$g_button_main: linear-gradient(45deg, $c_accent_03 0%, $c_accent 50%, $c_accent_02 100%);
$g_button_hover: linear-gradient(135deg, $c_accent_04, $c_accent_03 66%, $c_accent 100%);

$c_accent_secondary: #0DFA96;
$c_accent_secondary_02: #067A4A;
$c_accent_secondary_03: #09BA70;

$g_button_secondary: linear-gradient(335deg, #0AC778 0%,  #0DFA96 100%);

$c_flag_special: #cc00ff;
$c_flag_special_dark: #9600ec;
$c_flag_special_bright: #eb9dff;

$c_product_dark: rgb(77, 73, 65);
$c_product_light: rgb(212, 199, 163);


$c_warning: rgb(207, 0, 0);
$c_warning_bright: rgb(255, 0, 0);
$c_warning_dark: #450000;
$c_warning_darker: #2b0000;
$g_warning_hover: linear-gradient(0deg, rgb(172, 0, 0) 0%, rgb(230, 0, 0) 100%);
$c_txt_warning_g: white;
$warning_shadow: 0 0 2px 2px rgba(white, 80%);

$g_secondary_btn: linear-gradient(335deg, rgb(48, 48, 48) 0%,  rgb(60, 60, 60) 100%);

$shadow_popout:  0 0 1rem 1.5rem rgba(black, 40%);

$panel_shadow: 0 0 10px 1px rgba(black, 85%);
$panel_shadow_highlight: 0 0 10px 1px rgba($c_accent, 50%);

