// Constants
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@function px-to-rem($px-num){
    @return calc($px-num / 16) * 1rem;
}


// These appear in a React hook as well, so always update both
$sidebarWidthOnDesktop: px-to-rem(240);
$breakpoint_jobNavNoStretch: $sidebarWidthOnDesktop * 2;
$breakpoint_permaShowJobNav: $sidebarWidthOnDesktop * 5;

$f_adminas: Roboto, sans-serif;
$f_heading: 'Arial', sans-serif;
$f_contents: 'Calibri', sans-serif;

$MAX_WIDTH: 700px;

$c_bg_main: rgb(34, 35, 36);
$g_bg_main: linear-gradient(45deg, rgb(34, 35, 36) 0%, rgb(40, 40, 41) 35%, rgb(56, 58, 58) 100%);
$g_bg_modal: linear-gradient(45deg, rgb(48, 50, 51) 35%, rgb(57, 58, 59) 100%);

$c_txt_main: #F6F6F6;
$c_txt_main_highlight: white;
$c_txt_alt: #2b2727;

// Pallette naming scheme inspired by Tailwind
$c_accent-50: #ebfeff;
$c_accent-100: #cefcff;
$c_accent-200: #a2f6ff;
$c_accent-300: #63edfd;
$c_accent-400: #1cd9f4;
$c_accent-500: #00D4F5;
$c_accent-600: #0396b7;
$c_accent-700: #0a7894;
$c_accent-800: #126078;
$c_accent-900: #145065;
$c_accent-950: #063546;

$c_tone-50: #f6f6f6;
$c_tone-100: #e7e7e7;
$c_tone-200: #d1d1d1;
$c_tone-300: #b0b0b0;
$c_tone-400: #888888;
$c_tone-500: #6d6d6d;
$c_tone-600: #5d5d5d;
$c_tone-700: #555555;
$c_tone-800: #454545;
$c_tone-900: #3d3d3d;
$c_tone-950: #262626;
$c_tone-1000: #141414;  // <- imo, Tailwind could do with an extra shade for "off-black"

$c_good-50: #eefff7;
$c_good-100: #d6ffee;
$c_good-200: #b0ffde;
$c_good-300: #73ffc4;
$c_good-400: #2ff9a3;
$c_good-500: #0dfa96;
$c_good-600: #00bc6a;
$c_good-700: #029356;
$c_good-800: #087347; 
$c_good-900: #095e3d;
$c_good-950: #003520;

$c_txt_on_accent: black;

$g_button_main: linear-gradient(45deg, $c_accent-400 0%, $c_accent-500 50%, #00c2e0 100%);
$g_button_hover: linear-gradient(135deg, $c_accent-300, $c_accent-400 66%, $c_accent-500 100%);
$g_button_focus: linear-gradient(135deg, $c_accent-200, $c_accent-300 45%, $c_accent-500 100%);

$g_button_good: linear-gradient(335deg, #0AC778 0%,  #0DFA96 100%);

// Used for modular items to flag when one is "special"
$c_flag_special: #cc00ff;
$c_flag_special_dark: #9600ec;
$c_flag_special_bright: #eb9dff;

$c_product_dark: rgb(77, 73, 65);
$c_product_light: rgb(212, 199, 163);

// Warning formatting
$c_warning: rgb(207, 0, 0);
$c_warning_bright: rgb(255, 0, 0);
$c_warning_dark: #450000;
$c_warning_darker: #2b0000;

$c_txt_warning_g: white;
$warning_shadow: 0 0 2px 2px rgba(white, 80%);
$g_warningButtonFakeSecondary: linear-gradient(335deg, rgb(48, 48, 48) 0%,  rgb(60, 60, 60) 100%);
$g_warning_hover: linear-gradient(0deg, rgb(172, 0, 0) 0%, rgb(230, 0, 0) 100%);

// Misc Shadows
$shadow_popout:  0 0 1rem 1.5rem rgba(black, 40%);
$panel_shadow: 0 0 10px 1px rgba(black, 85%);
$panel_shadow_highlight: 0 0 10px 1px rgba($c_accent-500, 50%);


// SR support
@mixin visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

@mixin visually-unhidden{
    position: static;
    width: auto;
    height: auto;
    overflow: auto;
    clip-path: none;
}
