{% extends "adminas/layout.html" %}
{% load static %}

{% block title %}
    - Document Builder
{% endblock %}

{% block page_specific_css %}
    <link href="{% static 'adminas/styles/documents.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script>
        const DOC_CODE = '{{ doc_type }}';
        const DOC_ID = '{{ doc_id }}';
        const JOB_ID = '{{ job_id }}';
        const JOB_URL = "{% url 'job' job_id %}";
        const URL_DOCBUILDER = "{% url 'api_draft_documents' %}";
        const URL_DOCMAIN = "{% url 'doc_main' doc_id %}"
        const URL_PREVIEW = "{% url 'doc_display' doc_id %}?mode=preview";
        const JOB_DOCTAB_URL = "{% url 'jobTabDocuments' job_id %}"
    </script>
    <script defer src="{% static 'adminas/scripts/docBuilder.bundle.js' %}" type="text/javascript"></script>
{% endblock %}



{% block body %}

    <h2 class="pageHeading">Document Builder</h2>
    <div class="subheading">{{ doc_title }}</div>
    <a class="return-to-job" href="{% url 'jobTabDocuments' job_id %}">&laquo; return to Job</a>

    <div class="pageContent documentPage"> 
        <h3 class="pageContent_header sectionHeading">
            <span class="pageContent_headerText">
                Working on document
            </span>
        </h3>
        <div class="documentPage_layout pageContent_content">

            <div class="documentPage_controlsAndWarningsWrapper">
                <div class="documentPage_controls">
                    <div class="documentPage_safeButtonsContainer">
                        <a 
{% if doc_id == 0 %}
                            href="{% url 'jobTabDocuments' job_id %}"
{% else %}
                            href="{% url 'doc_main' doc_id %}"
{% endif %}
                            class="closeIconTextButton"
                        >
                            <span class="closeIconTextButton_text">close</span>
                        </a>
                        <button 
                            class="saveIconTextButton"
                            disabled
                        >
                            <span class="saveIconTextButton_text">save</span>
                        </button>
                        <a  
                            href="{% url 'doc_display' doc_id %}"
                            class="previewIconTextButton {% if doc_id == 0 %}previewIconTextButton-disabled{% endif %}"
                        >
                            <span class="previewIconTextButton_text">preview</span>
                        </a>
                        <button 
                            class="issueFinalIconTextButton" 
                            {% if not is_valid or doc_id == 0 %}disabled{% endif %}
                        >
                            <span class="issueFinalIconTextButton_text">issue</span>
                        </button>
                    </div>
                    <div class="docBuilderControls_deleteButtonContainer">
                        <button 
                            class="deleteIconTextButton"
                            {% if doc_id == 0 %}disabled{% endif %}
                        >
                            <span class="deleteIconTextButton_text">delete</span>
                        </button>
                    </div>
                </div>

                <section class="documentPageWarnings documentWarnings">
                    <div class="documentPageWarnings_unsavedChanges documentPageWarnings_unsavedChanges-off">
                    </div>

                    {% if not is_valid %}
                    <section class="documentPageWarnings_invalid">
                        <h4>Invalid Item Quantities</h4>
                        <p>
                            JobItem quantities have altered since the draft document was created: there are no longer enough to fulfil all draft document assignments.
                        </p>
                    </section>
                    {% endif %}
                </section>
            </div>

            <form method="post" class="documentPageGeneral jobPanelSection" onkeydown="return event.key != 'Enter';">
                <h4 class="jobPanelSection_headingWrapper">
                    <span class="jobPanelSection_headingContent documentPageGeneral_headingContent">
                        General
                    </span>
                </h4>

                <div class="documentPageGeneral_formRow">
                    <label class="row-label" for="id_doc_reference">Reference</label>
                    <div class="documentPageGeneral_inputAndNoteWrapper">
                        <input class="subsection_input" type="text" id="id_doc_reference" value="{{reference}}">
                        <div class="doc-version" id="id_doc_version">version {{ version_number }}</div>
                    </div>
                </div>

    {% if doc_type == 'WO' %}
                <div class="documentPageGeneral_formRow">
                    <label class="row-label" for="id_req_prod_date">Requested Completion Date</label>
                    <input class="subsection_input" type="date" id="id_req_prod_date" value="{{doc_specific.date_requested|date:'Y-m-d'}}">
                </div>

                <div class="documentPageGeneral_formRow">
                    <label class="row-label" for="id_sched_prod_date">Scheduled Completion Date</label>
                    <input class="subsection_input" type="date" id="id_sched_prod_date" value="{{doc_specific.date_scheduled|date:'Y-m-d'}}">
                </div>
    {% endif %}
            </form>

            <section class="documentPageSpecialInstructions jobPanelSection">
                <h4 class="jobPanelSection_headingWrapper">
                    <span class="jobPanelSection_headingContent documentPageSpecialInstructions_headingContent">
                        Special Instructions
                    </span>
                </h4>
                <div class="documentPageSpecialInstructions_addButtonContainer">
                    <button class="add-button openCreateSpecialInstruction">special instruction</button>
                </div>
                <div class="modalWrapper hide addNewSpecialInstructionModal">
                    <dialog class="modal">
                        <button class="close modal_closeButton close-new-instr">
                            <span>close</span>
                        </button>
                        <h2 class="modal_heading">Special Instructions</h2>
                        <form class="documentPageSpecialInstructions_form" method="post" >
                            <label for="id_add_special_instruction" class="documentPageSpecialInstructions_label">Enter new special instruction</label>
                            <textarea id="id_add_special_instruction" class="documentPageSpecialInstructions_textarea"></textarea>
                            <div class="documentPageSpecialInstructions_controlsContainer">
                                <button type="button" class="add-special-instruction-btn button-primary documentPageSpecialInstructions_button">add to pending</button>
                            </div>
                        </form>
                    </dialog>
                </div>
                <div class="existing">
            {% for sp_inst in special_instructions %}
                    <div class="documentPageSpecialInstructions_specialInstructionContainer" 
                        data-siid="{{ sp_inst.id }}"
                    >
                        <div class="documentPageSpecialInstructions_specialInstructionContents">{{ sp_inst.instruction }}</div>
                        <button class="documentPageSpecialInstructions_specialInstructionEditBtn edit-icon">
                            <span>edit</span>
                        </button>
                        <div class="documentPageSpecialInstructions_specialInstructionWhoAndWhen">
                            <span class="username">{{ sp_inst.created_by }}</span> on <span class="when">{{ sp_inst.created_on }}</span>
                        </div>
                    </div>
            {% empty %}
                    <p class="no-special-instructions empty-section-notice">No special instructions on this document</p>
            {% endfor %}
                </div>
            </section>

            <form method="post" class="documentPageItems jobPanelSection" onkeydown="return event.key != 'Enter';">
                <h3 class="jobPanelSection_headingWrapper">
                    <span class="jobPanelSection_headingContent documentPageItems_headingContent">
                        Items on this document
                    </span>
                </h3>
                <div class="documentPageItems_builderContent">

    {% for lineitem in workingItems %}
                    <div 
                        class="documentPageItems_itemBuilder{% if lineitem.qty_included == 0 %} documentPageItems_itemBuilder-excluded{% endif %}"
                        data-jiid="{{ lineitem.jiid }}" 
                        data-totalQty="{{ lineitem.total_quantity }}"
                        data-availableQty="{{ lineitem.max_available }}"
                        data-isInvalid="{{ lineitem.is_invalid|lower }}"
                    >
                        <label class="documentPageItems_itemDisplay" for="id_qty_jobitem_{{ lineitem.jiid }}">
        {% if lineitem.is_invalid %}
                            <span class="documentPageItems_invalidIcon invalid-icon"><span>quantity is invalid</span></span>
        {% endif %}
                            <span class="documentPageItems_itemDisplayQty">{{ lineitem.qty_included }}</span>
                            <span class="documentPageItems_itemDisplayPartNo partNumber{% if lineitem.qty_included == 0 %} partNumber-disabled{% endif %}">{{ lineitem.part_number }}</span>
                            <span class="documentPageItems_itemDisplayName">{{ lineitem.product_name }}</span>
                        </label>

                        <div class="documentPageItems_itemInputsContainer">
                            <button 
                                type="button" 
                                class="documentPageItems_maxBtn buttonSecondary {% if lineitem.is_invalid %} documentPageItems_maxBtn-invalid{% endif %}"
                                {% if lineitem.qty_included == lineitem.max_available %}disabled{% endif %}
                            >
                                max
                            </button>
                            <input 
                                class="documentPageItems_qtyInput"
                                id="id_qty_jobitem_{{ lineitem.jiid }}"
                                type="number" min="0" max="{{ lineitem.max_available }}" 
                                value="{{ lineitem.qty_included }}" 
                            />
                            <button 
                                type="button"
                                class="documentPageItems_minBtn buttonSecondary {% if lineitem.is_invalid %} documentPageItems_minBtn-invalid{% endif %}"
                                {% if lineitem.qty_included == 0  %}disabled{% endif %}
                            >
                                min
                            </button> 
                        </div>              

                    </div>            
    {% empty %}
                    <div class="documentPageItems_empty">None</div>      
    {% endfor %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}