{% extends "adminas/layout.html" %}
{% load static %}

{% block title %}
    - Document
{% endblock %}

{% block page_specific_css %}
    <link href="{% static 'adminas/styles/documents.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script>
        const DOC_ID = "{{ doc_version.id }}";
        const URL_DOC_MAIN = "{% url 'api_issued_documents' %}"
    </script>
    <script src="{% static 'adminas/scripts/docMain.bundle.js' %}" type="module" ></script>
{% endblock %}

{% block body %}

    <h2 class="pageHeading">Document</h2>
    <div class="subheading">{{ doc_title }}</div>
    <a class="return-to-job" href="{% url 'jobTabDocuments' job_id %}">&laquo; return to Job</a>
    
    <div class="pageContent documentPage">  
        <h3 class="pageContent_header sectionHeading">
            <span class="pageContent_headerText">
{% if doc_version.issue_date %}
                Issued on {{ doc_version.issue_date }} (v{{ doc_version.version_number }})
{% elif doc_version.active %}
                Draft {{ doc_type }} (v{{ doc_version.version_number }})
{% else %}
                Deleted
{% endif %}
            </span>
        </h3>

        <div class="documentPage_layout pageContent_content">
            <div class="documentPage_controlsAndWarningsWrapper">

                <div class="documentPage_controls">
                    <div class="documentPage_safeButtonsContainer">
{% if doc_version.issue_date %}
                        <a 
                            class="viewFinalIconTextButton" 
                            href="{% url 'doc_display' doc_version.id %}"
                        >
                            <span class="viewFinalIconTextButton_text">PDF</span>
                        </a>
                        <button 
                            id="replace_document_btn" 
                            class="revert-replace replaceIconTextButton"
                        >
                            <span class="replaceIconTextButton_text">
                                replace
                            </span>
                        </button>
{% elif doc_version.active %}
                        <a 
                            class="editIconTextButton" 
                            href="{% url 'doc_editor_page' %}?id={{ doc_version.id }}"
                            >
                            <span class="editIconTextButton_text">edit</span>
                        </a>
                        <a  
                            href="{% url 'doc_display' doc_version.id %}"
                            class="previewIconTextButton {% if doc_version.id == 0 %}previewIconTextButton-disabled{% endif %}"
                        >
                            <span class="previewIconTextButton_text">preview</span>
                        </a>

    {% if doc_version.version_number > 1 %}
                        <button 
                            id="revert_document_btn" 
                            class="revert-replace revertIconTextButton"
                        >
                            <span class="replaceIconTextButton_text">revert</span>
                        </button>
    {% endif %}
{% endif %}
                    </div>
                </div>

                <section class="documentPageWarnings documentWarnings">
{% if not doc_version.issue_date and not doc_version.active %}
                    <div class="documentPageWarnings_isDeleted">
                        <span>This document has been deleted. To restore, contact an administrator.</span>
                    </div>
{% endif %}
            
{% if show_validity_error %}
                    <section class="documentPageWarnings_invalid">
                        <h4>Invalid Item Quantities</h4>
                        <p>
                            JobItem quantities have altered since the draft document was created: there are no longer enough to fulfil all draft document assignments.
                        </p>
                    </section>
{% endif %}
                </section>
            </div>

            <section class="documentPageGeneral jobPanelSection">
                <h4 class="jobPanelSection_headingWrapper">
                    <span class="jobPanelSection_headingContent documentPageGeneral_headingContent">
                        General
                    </span>
                </h4>

                <dl>
                    <div class="read_row documentPageGeneral_readonlyRow">
                        <dt class="documentPageGeneral_readonlyRowLabel">Reference</dt>
                        <dd class="documentPageGeneral_readonlyRowContent">
                            <span>{{ reference }}</span>
                            <span class="doc-version">version {{ doc_version.version_number }}</span>
                        </dd>
                    </div>

    {% if doc_type == 'WO' %}
                    <div class="read_row documentPageGeneral_readonlyRow">
                        <dt class="documentPageGeneral_readonlyRowLabel" for="id_req_prod_date">Requested Completion Date</dt>
                        <dd id="id_req_prod_date" class="documentPageGeneral_readonlyRowContent">{{ doc_specific.date_requested }}</dd>
                    </div>
                    <div class="read_row documentPageGeneral_readonlyRow">
                        <dt class="documentPageGeneral_readonlyRowLabel" for="id_sched_prod_date">Scheduled Completion Date</dt>
                        <dd id="id_sched_prod_date" class="documentPageGeneral_readonlyRowContent">{{ doc_specific.date_scheduled }}</dd>
                    </div>
    {% endif %}
                </dl>
            </section>

            <section class="documentPageSpecialInstructions jobPanelSection">
                <h4 class="jobPanelSection_headingWrapper">
                    <span class="jobPanelSection_headingContent documentPageSpecialInstructions_headingContent">
                        Special Instructions
                    </span>
                </h4>

                <div class="existing">
{% for sp_inst in special_instructions %}
                    <div class="documentPageSpecialInstructions_specialInstructionContainer">
                        <div class="documentPageSpecialInstructions_specialInstructionContents">{{ sp_inst.instruction }}</div>
                        <div class="documentPageSpecialInstructions_specialInstructionWhoAndWhen"><span class="username">{{ sp_inst.created_by }}</span> on <span class="when">{{ sp_inst.created_on }}</span></div>
                    </div>
{% empty %}
                    <p class="no-special-instructions empty-section-notice">No special instructions on this document</p>
{% endfor %}
                </div>
            </section>

            <section class="documentPageItems jobPanelSection">
                <h3 class="jobPanelSection_headingWrapper">
                    <span class="jobPanelSection_headingContent documentPageItems_headingContent">
                        Items
                    </span>
                </h3>
                <div class="documentPageItems_readerContent">
                    <div class="documentPageItems_included">
                        <h4 class="jobPanelSection_subsectionHeading documentPageItems_subsectionHeading">
                            Included
                        </h4>
                        <ul class="documentPageItems_itemsUl">
{% for inc in included_items %}
                            <li class="docItemReadOnly">
                                <span class="docItemReadOnly_itemDisplay">
                                    <div class="docItemReadOnly_qtyAndInvalidWrapper">
                                        {% if inc.is_invalid %}<span class="invalid-icon documentPageItems_invalidIcon"><span>quantity is invalid</span></span>{% endif %}
                                        <span class="docItemReadOnly_itemDisplayQty">{{ inc.qty_included }}</span>
                                    </div>
                                    <span class="docItemReadOnly_itemDisplayPartNo partNumber{% if inc.qty_included == 0 %} partNumber-disabled{% endif %}">{{ inc.part_number }}</span>
                                    <span class="docItemReadOnly_itemDisplayName">{{ inc.product_name }}</span>
                                </span>
                                <div class="docItemReadOnly_itemID"><span class="name-tag id">{{ inc.jiid }}</span></div>
                            </li>
{% empty %}
                            <li class="documentPageItems_empty none">None</li>
{% endfor %}
                        </ul>
                    </div>

{% if doc_version.active %}
                    <div class="documentPageItems_excluded">
                        <h4 class="jobPanelSection_subsectionHeading documentPageItems_subsectionHeading">
                            Excluded
                        </h4>
                        <ul class="documentPageItems_itemsUl">
        {% for excl in excluded_items %}
                            <li 
                                class="docItemReadOnly docItemReadOnly-excluded"
                            >  
            {% if excl.other_assignments %}
                                <details>
                                    <summary class="docItemReadOnly_itemAboveAssignments">
                                        <div class="summaryContentNextToArrow">
            {% endif %}
                                            <span class="docItemReadOnly_itemDisplay">
                                                <div class="docItemReadOnly_qtyAndInvalidWrapper">
            {% if excl.is_invalid %}
                                                    <span class="documentPageItems_invalidIcon invalid-icon"><span>quantity is invalid</span></span>
            {% else %}
                                                 <span class="docItemReadOnly_itemDisplayQty">{{ excl.excluded_qty }}</span>
                                                
            {% endif %}
                                                </div>
                                                <span class="docItemReadOnly_itemDisplayPartNo partNumber partNumber-disabled">{{ excl.part_number }}</span>
                                                <span class="docItemReadOnly_itemDisplayName">{{ excl.product_name }}</span>
                                            </span>

            {% if excl.other_assignments %}
                                        </div>
                                    </summary>
            {% endif %}

            {% for assignment in excl.other_assignments %}
                {% if forloop.first %}
                                    <ul class="docItemReadOnly_otherAssignments">
                    {% if excl.is_invalid %}
                                        <li>
                                            <span class="docItemReadOnly_qtyUsedElsewhere">{{ excl.total_quantity }} on order, {{ excl.quantity_assigned }} on {{ doc_type }}s, {{ excl.invalid_overflow }} surplus</span>
                                        </li>
                    {% elif excl.quantity_unassigned > 0 %}
                                        <li>
                                            <span class="docItemReadOnly_qtyUsedElsewhere">{{ excl.quantity_unassigned }} &raquo;</span>
                                            <span>unassigned</span>
                                        </li>
                    {% endif %}
                {% endif %}
                                        <li>
                                            <span class="docItemReadOnly_qtyUsedElsewhere">{{ assignment.quantity }} &raquo;</span>
                                            <a class="docItemReadOnly_linkToOtherDoc textLink" href="{% url 'doc_main' assignment.doc_id %}">   
                {% if assignment.name %}
                                            {{ assignment.name }}
                {% else %}
                                            unnamed {{ doc_type }}
                {% endif %}
                                            </a>
                                        </li>
                {% if forloop.last %}
                                    </ul>
                {% endif %}
            {% endfor %}
            {% if excl.other_assignments %}
                                </details>
            {% endif %}
                                <div class="docItemReadOnly_itemID{% if excl.other_assignments %} documentPageItems_itemID-withDetails{% endif %}">
                                    <span class="name-tag id">{{ excl.jiid }}</span>
                                </div>
                            </li>
        {% empty %}
                            <li class="documentPageItems_empty documentPageItems_empty-excluded none">None</li>
        {% endfor %}                
                        </ul>
                    </div>
    {% endif %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}