{% extends "adminas/layout.html" %}
{% load static %}

{% block title %}
    - Edit
{% endblock %}

{% block page_specific_css %}
    <link href="{% static 'adminas/styles/edit-job.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script>
        URL_SITE_ADDRESS = "{% url 'api_data' %}";
        URL_DELETE_JOB = "{% url 'api_job' %}?delete_id={{ job_id }}"
    </script>
{% endblock %}

{% block body %}
    <h2 class="pageHeading">{{ task_name }} Job</h2>
    {% if job_id != 0 %}
    <button id="delete_job_btn" class="button-warning">delete</button>
    {% endif %}
    <div class="job_form_container{% if job_id != 0 %} job_form_container-editMode{% endif %}">
        <form action="{% url 'api_job' %}" method='POST'>
            {% csrf_token %}
            <input type='hidden' name='job_id' value='{{ job_id }}'>

            <h3 class="sectionHeading">Identification</h3>
            <div class="form-row">
                <label for="{{ job_form.name.auto_id }}">{{ job_form.name.label }}</label>
                <div>{{ job_form.name }}</div>
            </div>
            <div class="form-row">
                <label for="{{ job_form.quote_ref.auto_id }}">{{ job_form.quote_ref.label }}</label>
                <div>{{ job_form.quote_ref }}</div>
            </div>
            <div class="form-row">
                <label for="{{ job_form.agent.auto_id }}">{{ job_form.agent.label }}</label>
                <div>{{ job_form.agent }}</div>
            </div>
            <div class="form-row">
                <label for="{{ job_form.customer.auto_id }}">{{ job_form.customer.label }}</label>
                <div>{{ job_form.customer }}</div>
            </div>
            <div class="form-row">
                <label for="{{ job_form.country.auto_id }}">{{ job_form.country.label }}
                    <div class="hover-parent">
                        [?]
                        <span class="hover-child">Used for statistical purposes only. Does not affect invoice/delivery addresses.</span>
                    </div>
                </label>
                <div>{{ job_form.country }}</div>
            </div>
            <div class="form-row">
                <label for="{{ job_form.language.auto_id }}">{{ job_form.language.label }}</label>
                <div>{{ job_form.language }}</div>
            </div>

            <h3 class="sectionHeading">Payment</h3>
            <div class="form-row">
                <label for="{{ job_form.invoice_to.auto_id }}">{{ job_form.invoice_to.label }}</label>
                <div class="address-dropdown">{{ job_form.invoice_to }}</div>
                <div class="display-address" id="display-addr-invoice"></div>
            </div>
            <div class="form-row">
                <label for="{{ job_form.currency.auto_id }}">{{ job_form.currency.label }}</label>
                <div>{{ job_form.currency }}</div>
            </div>
            <div class="form-row">
                <label for="{{ job_form.payment_terms.auto_id }}">{{ job_form.payment_terms.label }}</label>
                <div>{{ job_form.payment_terms }}</div>
            </div>

            <h3 class="sectionHeading">Delivery</h3>
            <div class="form-row">
                <label for="{{ job_form.delivery_to.auto_id }}">{{ job_form.delivery_to.label }}</label>
                <div class="address-dropdown">{{ job_form.delivery_to }}</div>
                <div class="display-address" id="display-addr-delivery"></div>
            </div>
            <fieldset class="form-row editJob_incoterm">
                <legend>Incoterm</legend>
                <div class="editJob_incotermCode">
                    <label for="{{ job_form.incoterm_code.auto_id }}">Term</label>
                    {{ job_form.incoterm_code }}
                </div>
                <div class="editJob_incotermLocation">
                    <label for="{{ job_form.incoterm_location.auto_id }}">Location</label>
                    {{ job_form.incoterm_location }}
                </div>
            </fieldset>
            <input class="editJob_submitButton" type="submit" 
                value="{% if job_id != 0 %}edit{% else %}create{% endif %}"
            >
        </form>
    </div>

{% endblock %}


