{% extends "adminas/layout.html" %}

{%  load static %}

{% block title %}
    - Home
{% endblock %}

{% block page_specific_css %}
    <link href="{% static 'adminas/styles/todo.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script>
        const URL_TODO_MANAGEMENT = '{% url "api_todo_list" %}';
    </script>
{% endblock %}

{% block body %}
    
    {% if not user.is_authenticated %}
    <h2>Welcome to <span class="adminas-name">Adminas</span>!</h2>
    <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to begin.</p>


    {% else %}
    <h2>Home</h2>
    <h3>To-do List</h3>
    <div id="id_todo_list_container">
        {% for job in data %}
        <article id="todo_panel_job_{{ job.id }}" class="panel job" data-job_id="{{ job.id }}">
            <section class="job-details">
                <button class="todo-list-remove delete-panel" data-job_id="{{ job.id }}"><span>remove</span></button>
                <a href="{% url 'job' job.id %}">
                    <h4 class="panel-header">{{ job.name }} <img src="{{ job.flag_url }}" alt="{{ job.flag_alt }}"></h4>
                    <p>
            {% if job.customer != None %}
                        {{ job.customer }}{% if job.agent != None %} (via {% endif %}
            {% endif %}
            {% if job.agent != None %}
                {{ job.agent }}{% if job.customer != None %}){% endif %}
            {% endif %}
         @ {{ job.currency }}&nbsp;{{ job.value }}
                    </p>

            {% for status in job.status %}
                {% if forloop.first %}
                    <section class="status-container">
                {% endif %}

                        <div class="status-ele {{ status.0 }}">
                            <span class="icon">
                {% if status.0 == 'status_ok' %}
                                ok
                {% elif status.0 == 'status_attn' %}
                                !
                {% elif status.0 == 'status_action' %}
                                ?
                {% else %}
                                -
                {% endif %}
                            </span>
                            <span class="message">{{ status.1 }}</span>
                        </div>
        
                {% if forloop.last %}
                    </section>
                {% endif %}
            {% endfor %}

                </a>
            </section>

            
            <section class="comments" data-url_comments="{% url 'api_comments' %}?job_id={{ job.id }}">
            {% if job.pinned_comments %}
                <h5><span class="hide">Pinned</span></h5>
            {% endif %}
                <section class="comment-container pinned streamlined not-persistent">
            {% for comment in job.pinned_comments %}
                    {% include "adminas/components/comment_collapse.html" with comment=comment %}
            {% endfor %}
                </section>
                <div class="create-comments-container">
                    <button class="add-button comment comment-to-todolist" data-form_type="content-only">comment</button>
                </div>
            </section>

        </article>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}


