{% extends "adminas/layout.html" %}

{%  load static %}

{% block title %}
    - Home
{% endblock %}

{% block page_specific_css %}
    <link href="{% static 'adminas/styles/todo.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script>
        const URL_TODO_MANAGEMENT = '{% url "api_todo_list" %}';
    </script>
{% endblock %}

{% block body %}
    
    {% if not user.is_authenticated %}
    <h2>Welcome to <span class="adminas-name">Adminas</span>!</h2>
    <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to begin.</p>

    {% else %}
    <h2>Home</h2>
    <h3>To-do List</h3>
    <table class="todoList">
        <thead class="todoList_head">
            <tr class="todoList_thRow">
                <th class="emptyTH"><span class="sr-only">remove from todo</span></th>
                <th class="todoList_th">Job ID</th>
                <th class="todoList_th">Summary</th>
                <th class="todoList_th">Status</th>
                <th class="todoList_th">Pinned Comments</th>
            </tr>
        </thead>
        <tbody class="todoList_container">
            {% for job in data %}
            <tr id="todo_panel_job_{{ job.id }}" class="todoJob" data-job_id="{{ job.id }}">
                <td class="todoJob_tdRemove">
                    <button class="todo-list-remove delete-panel" data-job_id="{{ job.id }}"><span>remove</span></button>
                </td>
                <td class="todoJob_tdID">
                    <a href="{% url 'job' job.id %}">
                        <h4 class="todoJob_id">{{ job.name }} <img src="{{ job.flag_url }}" alt="{{ job.flag_alt }}"></h4>
                    </a>
                </td>
                <td class="todoJob_tdSummary">
                    <a href="{% url 'job' job.id %}">
                        <span class="todoJob_summaryText">
                    {% if job.customer != None %}
                        {{ job.customer }}{% if job.agent != None %} (via {% endif %}
                    {% endif %}
                    {% if job.agent != None %}
                        {{ job.agent }}{% if job.customer != None %}){% endif %}
                    {% endif %}
                        @ {{ job.currency }}&nbsp;{{ job.value }}
                        </span>
                    </a>
                </td>
                <td class="todoJob_tdStatus">
                    {% for status in job.status %}
                    <div class="statusEle statusEle-todo">
                        <button 
                            type="button"
                            class="statusEle_icon statusEle_icon-{{ status.0 }}"
                            aria-label="status details" 
                            data-toggletip_content="{{ status.1 }}"
                        >
                    {% if status.0 == 'status_ok' %}
                            ok
                    {% elif status.0 == 'status_attn' %}
                            !
                    {% elif status.0 == 'status_action' %}
                            ?
                    {% else %}
                            -
                    {% endif %}
                            <span class="sr-only">click for details</span>
                        </button>
                        <span role="status" class="statusEle_message statusEle_message-{{status.0}} statusEle_message-todo">
                        </span>
                    </div>
                {% endfor %}
                </td>
                <td class="todoJob_tdPinned">
                    <div class="todoJob_pinnedHeading"><span class="hide">Pinned</span></div>

                    <button 
                        data-target_id="id_pinned_comments_{{ job.id }}" 
                        data-comment_id="{% if job.pinned_comments %}{{ job.pinned_comments.0.id }}{% else %}0{% endif %}"
                        data-jobname="{{ job.name }}"
                        class="pinnedModalOpener todoJob_pinnedComment 
                    {% if job.pinned_comments %}
                    {% with comment=job.pinned_comments.0 %}
                                {% if comment.highlighted %}todoJob_pinnedComment-highlighted{% endif %}" 
                    >
                            <span class="sr-only">pinned comments for {{ job.name }}</span>
                        {% if comment.private %}
                            <span class="todoJob_pinnedPrivacyStatus todoJob_pinnedPrivacyStatus-private">[PRIVATE]</span>
                        {% else %}
                            <span class="todoJob_pinnedPrivacyStatus todoJob_pinnedPrivacyStatus-public">[public]</span>
                        {% endif %}
                            <p class="todoJob_pinnedContents">{{ comment.contents }}</p>
                    {% endwith %}
                    {% else %}
                                todoJob_pinnedComment-empty" 
                    >
                            <p class="todoJob_pinnedContents">Click to add pinned comments</p>
                    {% endif %}
                    </button>

                    <section id="id_pinned_comments_{{ job.id }}" class="modalWrapper comments hide" data-url_comments="{% url 'api_comments' %}?job_id={{ job.id }}">
                        <dialog class="modal pinnedCommentsModal">
                            <button class="modal_closeButton close"><span>close</span></button>
                            <h5 class="pinnedCommentsModal_heading"><span class="hide">Pinned </span>{{ job.name }}</h5>
                            <section class="comment-container pinned streamlined persistent pinnedCommentsModal_commentContainer">
                            {% if job.pinned_comments %}
                            {% for comment in job.pinned_comments %}
                                {% include "adminas/components/comment_collapse.html" with comment=comment %}
                            {% endfor %}
                            {% else %}
                                <p class="empty-section-notice">No comments have been pinned.</p>
                            {% endif %}
                            </section>
                            <div class="create-comments-container pinnedCommentsModal_addNewContainer">
                                <button class="add-button comment comment-to-todolist pinnedCommentsModal_addNewButton" data-form_type="content-only">comment</button>
                            </div>
                        </dialog>
                    </section>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}


