{% extends "adminas/layout.html" %}

{% load static %}

{% block title %}
    - Job {{ job.name }}
{% endblock %}

{% block page_specific_css %}
    <link href="{% static 'adminas/styles/job.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script>
        window.JOB_ID = '{{ job_id }}';
        window.URL_GET_DATA = '{% url "api_data" %}';
        window.PATH_IMAGES = '{% static "adminas/images/" %}';
    </script>
    <script src="{% static 'adminas/scripts/vendor-react.bundle.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="job-page">
        <script src="{% static 'adminas/scripts/jobpage.bundle.js' %}" type="module" ></script>
    </div>
{% endblock %}
