{% extends "adminas/layout.html" %}

{% load static %}

{% block title %}
    - Records
{% endblock %}

{% block page_specific_css %}
    <link href="{% static 'adminas/styles/records.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{% static 'adminas/scripts/records.min.js' %}" crossorigin></script>
    <script>
        const URL_TODO_MANAGEMENT = "{% url 'api_todo_list' %}";
        const CALLED_BY = 'records';
        const URL_SELECT_OPTIONS = "{% url 'api_data' %}";
        const URL_RECORDS = "{% url 'records' %}";
    </script>
{% endblock %}

{% block body %}
    <h2>Records</h2>

    <div id="filter_controls">
        <p>Showing <strong>{{ filter_count }}</strong> of <strong>{{ total_count }}</strong> records.</p>
        <button id="id_filter_records" class="button-primary">filter options</button>
        {% if total_count > filter_count %}
        <a href="{% url 'records' %}" id="id_clear_filter_records" class="button-primary">clear filter</a>
        {% endif %}
    </div>

    {{ page_data.total_pages }}

    {% include "adminas/components/pagination_nav.html" with page_data=page_data %}

    <table id="id_records" class="responsive-table banded">
        <thead>
            <tr>
                <th>View</th>
                <th>To-Do</th>
                <th>Name</th>
                <th>Agent</th>
                <th>Customer</th>
                <th>Country</th>
                <th>Lang</th>
                <th>Entered</th>
                <th>Curr</th>

                <th>Inv to</th>
                <th>Quote</th>
                <th>PO Num</th>
                <th>PO Value</th>

                <th>INCO</th>
                <th>Deliver to</th>

                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            
    {% for r in records %}
            <tr>
                <td><a href="{% url 'job' r.job_id %}">Link</a></td>
                <td>
        {% if r.is_todo %}
                    <span class="todo-list-add">on</span>
        {% else %}
                    <button class="todo-list-add button-primary" data-job_id="{{ r.job_id }}">+</button>
        {% endif %}
                </td>
                <td>{{ r.name }}</td>
                <td>{{ r.agent }}</td>
                <td>{{ r.customer }}</td>
                <td>{{ r.country }}</td>
                <td>{{ r.language }}</td>
                <td>{{ r.created_on|date:"Y-m-d" }}</td>
                <td>{{ r.currency }}</td>
                <td>{{ r.invoice_to_name }}</td>
                <td>{{ r.quote_ref }}</td>
                <td>
        {% if r.num_po > 1 %}
                    <button class="list-show-btn button-primary-hollow">view</button>  
                    <div class="po records-list panel hide popout">
                        <button class="list-hide-btn close"><span>close</span></button>
                        <h4 class="panel-header">Purchase Orders</h4>
                        <ul>  
            {% for po in r.po_list %}
                            <li>{{ po }}</li>
            {% endfor %}
                        </ul>
                    </div>
        {% else %}
                        {{ r.po_list.0 }}
        {% endif %}
                </td>
                <td>{{ r.total_po_value }}</td>
                <td>{{ r.incoterm_code }}</td>
                <td>{{ r.delivery_to_name }}</td>
                <td>
        {% for item in r.item_list %}
            {% if forloop.first %}
                        <button class="list-show-btn button-primary-hollow">view</button>
                        <div class="product records-list panel hide popout">
                            <button class="list-hide-btn close"><span>close</span></button>
                            <h4 class="panel-header">Products</h4>
                            <ul>
            {% endif %}
                                <li>{{ item|safe }}</li>
            {% if forloop.last %}
                            </ul>
                        </div>
            {% endif %}
        {% endfor %}
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}


