/*  Job formatting.
    Contents:
        || Status indicator (todo, price confirmation)
        || Layout

        // todo

        || Responsive table
*/
.add-button {
  margin: 0.3rem 0 0.3rem 0.3rem;
}

.status-indicator {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #888;
  font-weight: bold;
}
.status-indicator :first-child,
.status-indicator :last-child {
  border: 1px solid #666;
}
.status-indicator :first-child {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.status-indicator :last-child {
  border-top-right-radius: 0.95rem;
  border-bottom-right-radius: 0.95rem;
}
.status-indicator .status-name {
  display: block;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  width: fit-content;
  color: white;
}
.status-indicator button {
  display: block;
  padding: 0.1rem 1rem 0.1rem 0.7rem;
  color: #BBB;
  border: 1px solid #666;
  border-left: 3px solid #AAA;
}
.status-indicator button.todo-list-toggle {
  background: #222;
}
.status-indicator button.todo-list-toggle:hover {
  background: #666;
}
.status-indicator button#price_confirmation_button {
  background: transparent;
}
.status-indicator button#price_confirmation_button:hover {
  background: #666;
}
.status-indicator.on button {
  color: #0DFA96;
  border: 1px solid #09BA70;
  border-left: 3px solid #0DFA96;
  min-width: 49px;
}
.status-indicator.on button:hover {
  background: linear-gradient(335deg, #0AC778 0%, #0DFA96 100%);
  color: black;
  font-weight: bold;
}

.job-page-sections-wrapper,
.document-sections-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  width: 100%;
}
.job-page-sections-wrapper h3,
.document-sections-wrapper h3 {
  margin-bottom: 0;
}
.job-page-sections-wrapper .po-row,
.document-sections-wrapper .po-row {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #666;
  padding: 0.3rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}
.job-page-sections-wrapper .po-row .panel,
.document-sections-wrapper .po-row .panel {
  display: block;
}
.job-page-sections-wrapper .po-row .edit-icon:hover,
.document-sections-wrapper .po-row .edit-icon:hover {
  background-position: 5px 4px;
}

.job-page-sections-wrapper {
  margin-top: 2rem;
}

#job_items_section {
  width: 100%;
}

.document-sections-wrapper {
  align-items: flex-start;
}
.document-sections-wrapper .subsection {
  flex-grow: 2;
}

.pair-related {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  min-width: 40%;
  max-width: 100%;
  flex-grow: 2;
}
.pair-related .item {
  flex-grow: 2;
  min-width: 275px;
}

#job_po_section .warning {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8);
}

#toggle_po_form_btn {
  margin-top: 0.4rem;
}

#job_details {
  max-width: 700px;
}

.ji-edit {
  margin-right: 0;
}
.ji-edit:hover {
  background-position: 5px 4px;
}

.job-doc-section {
  min-width: 280px;
}
.job-doc-section .status-ele {
  margin-left: calc(0.2rem + 3px);
  width: max-content;
  margin-top: 0.5rem;
}
.job-doc-section .subsection {
  padding-bottom: 0.7rem;
}
.job-doc-section ul {
  list-style-type: none;
  margin: 1rem 3px 0;
  padding: 0 0 0 0.2rem;
}
.job-doc-section li {
  margin-top: 0.3rem;
  box-sizing: border-box;
}
.job-doc-section li a {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0.9rem 0 0;
  text-decoration: none;
  border-radius: 1rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border: 1px solid #888;
  background: transparent;
}
.job-doc-section li a:hover {
  background: #444;
}
.job-doc-section li .icon {
  display: block;
  width: 1rem;
  padding: 0.35rem 0.3rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-right: 3px solid #666;
}
.job-doc-section li.issued a {
  border-color: #067A4A;
  color: #0DFA96;
}
.job-doc-section li.issued a .icon {
  border-color: #09BA70;
}
.job-doc-section li.issued a:hover {
  border-color: #09BA70;
}
.job-doc-section li.issued a:hover .icon {
  background: #067A4A;
  color: white;
  border-color: #0DFA96;
}
.job-doc-section li.draft a {
  border-color: #00D4F5;
  color: #00D4F5;
}
.job-doc-section li.draft a .icon {
  border-color: #4ADFF7;
}
.job-doc-section li.draft a:hover {
  border-color: #4ADFF7;
}
.job-doc-section li.draft a:hover .icon {
  color: #141414;
  background: #00D4F5;
  border-color: #6bfaff;
}
.job-doc-section li.invalid a {
  border-color: #cf0000;
  color: white;
  background: #444;
}
.job-doc-section li.invalid a .icon {
  border-color: #cf0000;
}
.job-doc-section li.invalid a:hover {
  border-color: red;
  background: #666;
}
.job-doc-section li.invalid a:hover .icon {
  color: white;
  background: #cf0000;
  border-color: red;
}
.job-doc-section li .invalid-icon {
  top: 0.15rem;
}
.job-doc-section li .name {
  padding: 0.3rem 0.7rem;
  flex-grow: 2;
}
.job-doc-section li .num-items {
  color: white;
  padding: 0.35rem 1rem 0.3rem 0.35rem;
  font-size: 0.9rem;
}
.job-doc-section .add-button {
  display: flex;
  align-items: center;
  color: #F6F6F6;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
}
.job-doc-section .add-button:hover {
  animation-name: expand_add_document;
}
.job-doc-section .issued-icon,
.job-doc-section .saved-icon {
  display: block;
  width: 1rem;
  text-align: center;
  padding: 0.3rem 0.3rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-right: 3px solid white;
  color: white;
  background: #222;
}
.job-doc-section .issued-icon {
  border-color: #067A4A;
}
.job-doc-section .saved-icon {
  border-color: #00D4F5;
}

@keyframes expand_add_document {
  from {
    width: 30px;
    text-indent: -9999px;
  }
  95% {
    text-indent: -9999px;
  }
  to {
    width: 8rem;
    text-indent: 44px;
  }
}
.existing-items-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-bottom: 1rem;
  border-bottom: 1px solid #222;
  width: 100%;
}
.existing-items-container .multi-parent-warning {
  margin: 0.5rem;
  padding: 0.5rem;
  background: #444;
  color: #BBB;
}
.existing-items-container .multi-parent-warning emphasis {
  font-weight: bold;
  font-style: italic;
  color: #F6F6F6;
}
.existing-items-container span.desc {
  margin: 0.2rem 0 0 0.75rem;
}

#container_edit_item {
  width: 96%;
}

#po_edit_form {
  width: calc(100% - 1rem);
  margin-bottom: 1.1rem;
}
#po_edit_form .button-container {
  gap: 5%;
}
#po_edit_form .button-container button, #po_edit_form .button-container #po_submit_button {
  max-width: 10rem;
  width: 25%;
  height: 2rem;
}

.selling-price-container {
  position: relative;
}

#new_items_container {
  width: 95%;
  max-width: 500px;
}
#new_items_container .add-button {
  position: absolute;
  margin: 0.5rem 0 0 0.5rem;
}
#new_items_container .add-multiple {
  background: #222;
  border: 1px solid #141414;
  border-radius: 3px;
  width: fit-content;
  display: block;
  float: right;
  margin: 0.5rem 0.5rem 0;
  padding: 0.15rem 0.35rem;
  font-size: 0.8rem;
}
#new_items_container .add-multiple input {
  width: 3rem;
  height: 0.9rem;
  margin-left: 0.1rem;
}
#new_items_container .add-multiple .button-primary {
  margin-left: 1.5rem;
  font-size: 0.9rem;
  width: 3rem;
  padding: 0.15rem 0.5rem;
}

.combo-input-and-button {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.combo-input-and-button span {
  display: block;
  margin: 0 0 0.2rem 0;
  min-width: 100%;
}
.combo-input-and-button input {
  margin: 0;
  width: 12rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.combo-input-and-button button {
  margin: 0;
  font-size: 0.9rem;
  width: 3.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.price-checker-edit-window {
  position: absolute;
  z-index: 2;
  left: -10px;
  background: #444;
  min-width: 280px;
  text-align: left;
}
.price-checker-edit-window p {
  margin: 0.5rem;
}
.price-checker-edit-window .price-options-container {
  border-top: 1px solid #222;
}
.price-checker-edit-window .price-options-container h6 {
  font-size: 0.95rem;
  font-weight: normal;
  width: 100%;
  margin: 0.5rem 0 0 0.5rem;
  padding-bottom: 0.2rem;
}
.price-checker-edit-window .price-options-container button {
  margin: 0.2rem 5% 0.2rem;
  padding: 0.4rem 0.3rem;
  width: 40%;
}
.price-checker-edit-window .combo-input-and-button {
  margin: 1rem 0 1rem 0.5rem;
}
.price-checker-edit-window .button-primary-hollow {
  background: #141414;
}
.price-checker-edit-window .button-primary-hollow:hover {
  background: #222;
  color: #6bfaff;
}

.job-item-container {
  max-width: 35rem;
  padding: 0;
  border-bottom: 1px solid #888;
  margin: 1rem 0 0 2rem;
}
.job-item-container:first-of-type {
  margin: 0;
}
.job-item-container .ji-list {
  padding: 0.1rem 0 0.3rem 0;
}
.job-item-container .ji-list table {
  margin-left: 0.8rem;
  color: #BBB;
}
.job-item-container .ji-list table .desc {
  padding: 0 0.4rem;
}
.job-item-container .product-quantity {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.job-item-container a {
  text-decoration: none;
}
.job-item-container .subsection {
  margin: 0;
  border-left: 3px solid #888;
  border-bottom: none;
}
.job-item-container .subsection-heading {
  font-size: 1rem;
}
.job-item-container .subsection-heading .desc {
  margin: 0.2rem 0 0 0;
  font-style: italic;
  font-weight: normal;
  font-size: 0.95rem;
  color: #BBB;
  padding: 0.1rem;
}
.job-item-container .subsection-heading .desc:before, .job-item-container .subsection-heading .desc:after {
  content: '"';
}
.job-item-container ul {
  margin: 3px 0 0 0;
  padding-bottom: 0.3rem;
}
.job-item-container li {
  color: #BBB;
}
.job-item-container .assignment-icon {
  display: inline-block;
  border: 1px solid #141414;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  margin: 0 0.1rem;
}
.job-item-container .assignment-icon span {
  display: block;
  float: left;
  padding: 1px 6px;
  margin: 0;
}
.job-item-container .assignment-icon .label {
  border-top-left-radius: 0.15rem;
  border-bottom-left-radius: 0.15rem;
  border-right: 2px solid #0DFA96;
  background: #222;
  color: #BBB;
}
.job-item-container .assignment-icon .status {
  background: #222;
  font-weight: bold;
}
.job-item-container .assignment-icon:last-of-type {
  border-bottom: 1px solid #141414;
}
.job-item-container .money {
  padding: 4px 2px 10px 0.75rem;
}
.job-item-container .money .selling_price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
.job-item-container .std-accs-container {
  border-left: 3px solid #888;
}
.job-item-container .std-accs-container p {
  padding: 0.2rem 0 0.2rem 0.4rem;
  width: calc(100% - 0.4rem);
  background: #444;
  margin: 0;
}
.job-item-container .module-status-section .intro-line {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0.2rem 0.1rem 0.2rem 0.4rem;
  background: #00c2e0;
}
.job-item-container .module-status-section .intro-line .display-text {
  flex-grow: 2;
}
.job-item-container .module-status-section .intro-line:after {
  content: "";
  display: table;
  clear: both;
}
.job-item-container .assignments {
  border-left: 3px solid #888;
  border-color: #d4c7a3;
}
.job-item-container .assignments .intro-line {
  background: #4d4941;
}
.job-item-container .modules-ok {
  border-left: 3px solid #0DFA96;
}
.job-item-container .modules-ok .intro-line {
  background: #444;
}
.job-item-container .modules-incomplete {
  border-left: 3px solid red;
}
.job-item-container .modules-incomplete .intro-line {
  background: #450000;
}
.job-item-container .modules-excess {
  border-left: 3px solid #eb9dff;
}
.job-item-container .modules-excess .intro-line {
  background: #9600ec;
}
.job-item-container .modules-excess li {
  color: #BBB;
}
.job-item-container.product .subsection,
.job-item-container .subsection.product {
  border-color: #d4c7a3;
}
.job-item-container.product .subsection .subsection-heading,
.job-item-container .subsection.product .subsection-heading {
  background: #4d4941;
}

#toggle_item_form_btn {
  margin-top: 3px;
}

.warning.subsection {
  margin: 1rem 0;
}

table.price-comparison {
  margin: 0.5rem;
  border-spacing: 0;
}
table.price-comparison th {
  text-align: right;
  padding: 0.1rem 0.3rem;
  border-right: 2px solid #444;
}
table.price-comparison td {
  padding: 0.3rem;
}
table.price-comparison th, table.price-comparison td {
  border-top: 1px solid #444;
}
table.price-comparison .diff-perc {
  font-size: 0.9rem;
}
table.price-comparison .diff-perc:before {
  content: "(";
}
table.price-comparison .diff-perc:after {
  content: ")";
}
table.price-comparison .number {
  text-align: right;
}
table.price-comparison .conclusion {
  background: #222;
}
table.price-comparison .conclusion th {
  border-right: 2px solid #0DFA96;
}
table.price-comparison .conclusion th, table.price-comparison .conclusion td {
  border-top: 1px solid #666;
}

@media screen and (max-width: 400px) {
  table.price-comparison {
    margin: 0.2rem;
  }
}
.status-toggle-indicator {
  display: block;
  padding: 0.1rem 1rem 0.1rem 0.7rem;
  background: transparent;
  color: #BBB;
  border: 1px solid #666;
  border-left: 3px solid #AAA;
}
.status-toggle-indicator:hover {
  background: #666;
}

#price_summary {
  margin-top: 1.5rem;
}

.jobitems-details {
  margin: 2rem;
  width: 30rem;
}

#jobitems_table .quantity,
#jobitems_table .selling_price {
  text-align: right;
}
#jobitems_table .modular {
  font-size: 0.9rem;
}
#jobitems_table .ji_id .id-number {
  margin: 0;
}
#jobitems_table.details-visible td {
  color: #666;
}
#jobitems_table.details-visible .content-highlight-wrapper.modules-ok, #jobitems_table.details-visible .content-highlight-wrapper.modules-excess, #jobitems_table.details-visible .content-highlight-wrapper.modules-incomplete {
  color: #888;
  border-color: #888;
  background: #444;
}
#jobitems_table .modular,
#jobitems_table .ji_id,
#jobitems_table .part_no {
  padding: 0;
}
#jobitems_table .content-highlight-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.1rem 0.5rem;
  box-sizing: border-box;
  border-left: 3px solid transparent;
}
#jobitems_table.details-visible .details-active .content-highlight-wrapper.modules-ok, #jobitems_table.details-visible .details-child .content-highlight-wrapper.modules-ok, #jobitems_table.details-visible .details-sibling .content-highlight-wrapper.modules-ok,
#jobitems_table .content-highlight-wrapper.modules-ok {
  color: white;
  border-color: #0DFA96;
  background: #067A4A;
}
#jobitems_table.details-visible .details-active .content-highlight-wrapper.modules-incomplete, #jobitems_table.details-visible .details-child .content-highlight-wrapper.modules-incomplete, #jobitems_table.details-visible .details-sibling .content-highlight-wrapper.modules-incomplete,
#jobitems_table .content-highlight-wrapper.modules-incomplete {
  color: white;
  border-color: red;
  background: #450000;
}
#jobitems_table.details-visible .details-active .content-highlight-wrapper.modules-excess, #jobitems_table.details-visible .details-child .content-highlight-wrapper.modules-excess, #jobitems_table.details-visible .details-sibling .content-highlight-wrapper.modules-excess,
#jobitems_table .content-highlight-wrapper.modules-excess {
  color: white;
  border-color: #eb9dff;
  background: #9600ec;
}
#jobitems_table .details-active {
  background: #BBB;
}
#jobitems_table .details-active td {
  color: black;
}
#jobitems_table .details-active .ji_id .content-highlight-wrapper {
  border-color: #00D4F5;
}
#jobitems_table .details-child .part_no,
#jobitems_table .details-child .product_name,
#jobitems_table .details-child .selling_price,
#jobitems_table .details-child .modular {
  color: white;
  background: #666;
  border-color: #888;
}
#jobitems_table .details-child .part_no .content-highlight-wrapper {
  border-color: #00D4F5;
}
#jobitems_table .details-sibling .part_no,
#jobitems_table .details-sibling .product_name {
  color: white;
  background: #4d4941;
  border-color: #888;
}
#jobitems_table .details-sibling .part_no .content-highlight-wrapper {
  border-color: #00D4F5;
}

@media screen and (max-width: 680px) {
  #jobitems_table {
    width: 100%;
    margin: 0.3rem 0;
  }
  #jobitems_table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #jobitems_table td {
    display: inline-block;
    padding: 0;
    border: none;
  }
  #jobitems_table .content-highlight-wrapper {
    height: auto;
    padding: 0;
  }
  #jobitems_table tbody tr {
    display: grid;
    grid-template-columns: repeat(4, auto) 1fr repeat(2, auto);
    grid-template-rows: 1.5rem 1.5rem 1.5rem;
    grid-template-areas: "ji_id      qty         part_no     part_no         .               .           more_info" "prod_name  prod_name   prod_name   prod_name       prod_name       prod_name   prod_name" "mod-status mod-status  mod-status  selling_price   selling_price   price_list  price_list";
    min-width: 286px;
    width: 96%;
    max-width: 450px;
    box-sizing: border-box;
    margin: 0.5rem 0 0 0;
    padding: 0.3rem 0.2rem;
    border: 1px solid #222;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  }
  #jobitems_table .ji_id {
    grid-area: ji_id;
  }
  #jobitems_table .selling_price {
    grid-area: selling_price;
  }
  #jobitems_table .price_list {
    grid-area: price_list;
  }
  #jobitems_table .more_info {
    grid-area: more_info;
  }
  #jobitems_table .product_name {
    grid-area: prod_name;
  }
  #jobitems_table .quantity {
    grid-area: qty;
    padding-left: 0.5rem;
  }
  #jobitems_table .quantity::after {
    content: "x";
    padding: 0 0.4rem;
  }
  #jobitems_table .part_no {
    grid-area: part_no;
    padding-right: 0.2rem;
  }
  #jobitems_table .part_no .content-highlight-wrapper::before {
    content: "[";
  }
  #jobitems_table .part_no .content-highlight-wrapper::after {
    content: "]";
  }
  #jobitems_table .modular {
    grid-area: mod-status;
  }
  #jobitems_table .modular::before {
    display: inline-block;
    content: "mod.";
    background: #222;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    font-size: 0.9rem;
  }
  #jobitems_table .modular .content-highlight-wrapper {
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 3rem;
    padding: 0.1rem 0.5rem 0.2rem;
    font-size: 0.9rem;
  }
  #jobitems_table .modular.not-modular::before,
#jobitems_table .modular.not-modular .content-highlight-wrapper {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #jobitems_table.details-visible .details-active {
    border-left: 3px solid #00D4F5;
    padding-left: calc(0.2rem - 2px);
  }
  #jobitems_table.details-visible .details-active td.modular::before {
    color: white;
  }
  #jobitems_table.details-visible .details-active .ji_id .content-highlight-wrapper {
    border-color: transparent;
  }
  #jobitems_table.details-visible .details-child {
    border-left: 3px solid #00D4F5;
    padding-left: calc(0.2rem - 2px);
    background: #666;
  }
  #jobitems_table.details-visible .details-child td {
    color: white;
    height: auto;
    border-color: #888;
  }
  #jobitems_table.details-visible .details-child .part_no .content-highlight-wrapper {
    border-color: transparent;
  }
  #jobitems_table.details-visible .details-sibling {
    border-left: 3px solid #d4c7a3;
    padding-left: calc(0.2rem - 2px);
    background: #4d4941;
  }
  #jobitems_table.details-visible .details-sibling td {
    color: white;
    border-color: #888;
  }
  #jobitems_table.details-visible .details-sibling .part_no .content-highlight-wrapper {
    border-color: transparent;
  }
}
@media screen and (max-width: 1360px) {
  .existing-items-container {
    box-sizing: border-box;
  }

  .more-icon span {
    left: -26px;
  }

  .jobitems-details {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 2.1rem 0 0 0;
    border-bottom: 1px solid #666;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.8);
    background: #444;
  }
  .jobitems-details .jobitems-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 45vh;
    overflow-y: auto;
    width: calc(100% - 10px);
    box-sizing: border-box;
    padding: 0;
    border: 0.3rem solid #00c2e0;
    border-left: none;
    border-right: none;
    background: #222;
  }
  .jobitems-details .jobitems-details-container.expanded {
    height: calc(100vh - 2.1rem - 41px);
    max-height: calc(100vh - 2.1rem - 41px);
  }
  .jobitems-details .close {
    position: absolute;
    top: 0;
    right: 0;
  }
  .jobitems-details .expand-collapse {
    float: none;
    width: 100%;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
  }
  .jobitems-details .expand-collapse span {
    top: -1rem;
    right: calc(50% - 2rem);
  }
  .jobitems-details .expand-collapse.expand {
    background-image: url(../images/i-chevron-down.svg);
  }
  .jobitems-details .expand-collapse.expand:hover {
    background-image: url(../images/i-chevron-down-blue.svg);
  }
  .jobitems-details .expand-collapse.collapse {
    background-image: url(../images/i-chevron-up.svg);
  }
  .jobitems-details .expand-collapse.collapse:hover {
    background-image: url(../images/i-chevron-up-blue.svg);
  }

  .job-item-container {
    background: #333;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0 0 0;
  }
  .job-item-container .money.subsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .job-item-container .money.subsection .selling_price {
    margin-left: 0;
  }
  .job-item-container .assignments .intro-line {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .job-item-container .assignments .intro-line .usage-counters {
    padding-top: 0.3rem;
  }
  .job-item-container .module-status-section .intro-line {
    flex-wrap: wrap;
  }
  .job-item-container .module-status-section .intro-line .warning-msg {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0 0.7rem 0.2rem 0.3rem;
  }
  .job-item-container .module-status-section .intro-line .warning-msg .msg {
    position: relative;
    top: -0.1rem;
  }
  .job-item-container .module-status-section .intro-line .warning-msg .invalid-icon {
    top: 0.2rem;
  }
  .job-item-container .edit-icon span {
    right: 0;
  }
  .job-item-container .ji-list table {
    margin: 0;
  }
  .job-item-container .ji-list .price-list {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
#price_check_table .selling-price {
  display: inline-block;
  margin-top: 0.25rem;
}
#price_check_table td {
  text-align: right;
}
#price_check_table .description {
  position: relative;
}
#price_check_table .details {
  display: block;
  font-style: italic;
  color: #BBB;
}
#price_check_table .temp-warning-msg {
  position: absolute;
  z-index: 3;
  right: 0;
  box-shadow: 0 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
  min-width: 12rem;
}

.empty-section-notice {
  padding: 0 1rem;
}

@media screen and (max-width: 930px) {
  #price_check_section {
    max-width: 475px;
    width: 100%;
    /*
    Label the data
    */
  }
  #price_check_section .selling-price {
    margin-top: 0;
  }
  #price_check_section #price_check_table td:nth-of-type(2):before {
    content: "Quantity";
  }
  #price_check_section #price_check_table td:nth-of-type(1):before {
    content: "Part Number";
  }
  #price_check_section #price_check_table td:nth-of-type(3):before {
    content: "Sold @";
  }
  #price_check_section #price_check_table td:nth-of-type(4):before {
    content: "Price List: Version";
  }
  #price_check_section #price_check_table td:nth-of-type(5):before {
    content: "Price List: Value";
  }
  #price_check_section #price_check_table td:nth-of-type(6):before {
    content: "Price List vs. Sold";
  }
  #price_check_section #price_check_table td:nth-of-type(7):before {
    content: "Price List vs. Sold (%)";
  }
  #price_check_section #price_check_table td:nth-of-type(8):before {
    content: "Resale: Discount";
  }
  #price_check_section #price_check_table td:nth-of-type(9):before {
    content: "Resale: Value";
  }
  #price_check_section #price_check_table td:nth-of-type(10):before {
    content: "Resale vs. Sold";
  }
  #price_check_section #price_check_table td:nth-of-type(11):before {
    content: "Resale vs. Sold (%)";
  }
  #price_check_section .details {
    position: absolute;
    bottom: -1rem;
    right: 5px;
    z-index: 2;
    width: 15rem;
    color: #F6F6F6;
    background: #444;
    border: 1px solid #222;
    padding: 3px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.85);
    border-right: 3px solid #0DFA96;
    padding-right: 10px;
    text-align: right;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}
.job-heading-with-status .job-heading-with-extra {
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem 0 0.4rem 0.4rem;
  background: #555;
  border-bottom: none;
}
.job-heading-with-status .job-heading-with-extra h2 {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.job-heading-with-status .job-heading-with-extra .indicator-wrapper {
  display: inline-block;
  padding: 0 0 0 1rem;
}
.job-heading-with-status .job-heading-with-extra .status-indicator {
  width: auto;
  margin-top: 0;
  position: relative;
  top: -0.2rem;
}
.job-heading-with-status .job-heading-with-extra .status-indicator .todo-list-toggle {
  padding-top: 0;
}
.job-heading-with-status .job-heading-with-extra .status-indicator .status-name {
  background: #444;
  border-color: #222;
}

#job_status_strip {
  margin-top: 2rem;
  border-bottom-color: #888;
  border-left-color: #AAA;
}
#job_status_strip h4 {
  margin: 0;
  font-size: 1rem;
  background: #666;
  width: 100%;
}
#job_status_strip .subsection {
  margin-left: 0;
}

.job-status-ele-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.7rem;
  padding: 0.7rem;
}

/*# sourceMappingURL=job.css.map */
